Repository bevyengine/bevy-website, pull requests merged in 2023-07, with the labels that each got.

#659 0.11 section improve shader imports
  content/news/2023-07-07-bevy-0.11/codespan.png
  content/news/2023-07-07-bevy-0.11/imported_items.png
  content/news/2023-07-07-bevy-0.11/index.md
Labels: A-News

#662 0.11 Section: WebGPU Support
  content/news/2023-07-07-bevy-0.11/index.md
  content/news/2023-07-07-bevy-0.11/webgpu.svg
  content/news/2023-07-07-bevy-0.11/webgpu_examples.png
Labels: A-News

#663 0.11 Section: Deref Derive Attribute
  content/news/2023-07-07-bevy-0.11/index.md
Labels: A-News

#665 0.11 Section: Morph Targets
  content/news/2023-07-07-bevy-0.11/default-pose-bw.png
  content/news/2023-07-07-bevy-0.11/frown-pose-bw.png
  content/news/2023-07-07-bevy-0.11/index.md
  content/news/2023-07-07-bevy-0.11/morph_target_both-0.png
  content/news/2023-07-07-bevy-0.11/morph_target_default-0.png
  content/news/2023-07-07-bevy-0.11/morph_target_frown-0.png
  content/news/2023-07-07-bevy-0.11/morph_target_frown-half-0.png
  content/news/2023-07-07-bevy-0.11/morph_target_smirk-quarter-frown-half-0.png
  content/news/2023-07-07-bevy-0.11/morph_target_smirk.mp4
  content/news/2023-07-07-bevy-0.11/morph_target_smirk.png
  content/news/2023-07-07-bevy-0.11/morph_targets_video.mp4
  content/news/2023-07-07-bevy-0.11/smirk-pose-bw.png
Labels: A-News

#666 0.11 Section: Gamepad Rumble Support
  content/news/2023-07-07-bevy-0.11/index.md
Labels: A-News

#667 0.11 Section: Simpler RenderGraph construction
  content/news/2023-07-07-bevy-0.11/index.md
Labels: A-News

#669 0.11 Section: `FromReflect` Ergonomics
  content/news/2023-07-07-bevy-0.11/index.md
Labels: A-News

#670 0.11 Section: Better Proxies
  content/news/2023-07-07-bevy-0.11/index.md
Labels: A-News

#668 Clarify what the cargo-binutils is doing
  content/learn/book/getting-started/setup/_index.md
Labels: A-Book

#671 0.11 Section: TAA
  content/news/2023-07-07-bevy-0.11/aa.png
  content/news/2023-07-07-bevy-0.11/index.md
  content/news/2023-07-07-bevy-0.11/msaa.png
  content/news/2023-07-07-bevy-0.11/taa.png
Labels: A-News

#678 0.11 Section: SSAO
  content/news/2023-07-07-bevy-0.11/index.md
  content/news/2023-07-07-bevy-0.11/no_ssao.png
  content/news/2023-07-07-bevy-0.11/ssao_only.png
  content/news/2023-07-07-bevy-0.11/with_ssao.png
Labels: A-News

#679 0.11 Section: Skybox
  content/news/2023-07-07-bevy-0.11/index.md
  content/news/2023-07-07-bevy-0.11/skybox.png
Labels: A-News

#648 Better bevy version/license algorithm for asset generation
  generate-assets/Cargo.lock
  generate-assets/Cargo.toml
  generate-assets/src/bin/generate.rs
  generate-assets/src/bin/validate.rs
  generate-assets/src/github_client.rs
  generate-assets/src/lib.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Assets

#709 Remove outdated notice in WebGPU examples
  templates/example-webgpu.html
  templates/examples-webgpu.html
Labels: S-Ready-For-Final-Review

#712 Update Bevy Book for 0.11
  content/learn/book/getting-started/_index.md
  content/learn/book/getting-started/ecs/_index.md
  content/learn/book/getting-started/plugins/_index.md
  content/learn/book/getting-started/resources/_index.md
  content/learn/book/getting-started/setup/_index.md
Labels: A-Book, C-Content

#715 Fix typo in getting-started/ecs
  content/learn/book/getting-started/ecs/_index.md
Labels: S-Ready-For-Final-Review, A-Book

#720 Examples update
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  generate-wasm-examples/generate_wasm_examples-webgpu.sh
  generate-wasm-examples/generate_wasm_examples.sh
  templates/example-webgpu.html
  templates/example.html
  templates/examples.html
Labels: A-Examples

#718 Improve note on const styles
  content/learn/migration-guides/0.10-0.11/_index.md
Labels: S-Ready-For-Final-Review

#722 Update examples screenshots from CI
  .github/workflows/update-screenshots.yml
Labels: A-Examples

#723 Fix typo `constrast` to `contrast`
  content/news/2023-07-09-bevy-0.11/index.md
Labels: S-Ready-For-Final-Review
