Repository bevyengine/bevy-website, pull requests merged in 2023-11, with the labels that each got.

#756 0.11 to 0.12 migration guide
  content/learn/migration-guides/0.11-0.12/_index.md
  generate-release/src/changelog.rs
Labels: A-Migration Guides

#798 Add migration guides from recent PRs
  content/learn/migration-guides/0.11-0.12/_index.md
Labels: A-Migration Guides

#805 Add clang to install directions for mold
  content/learn/book/getting-started/setup/_index.md
Labels: A-Book

#815 0.12 migration guide: AssetPath::new() -> AssetPath::from()
  content/learn/migration-guides/0.11-0.12/_index.md
Labels: C-Bug, A-Migration Guides

#817 Add migration guide for the default clearcolor change
  content/learn/migration-guides/0.11-0.12/_index.md
Labels: A-Migration Guides

#818 Add migration guide notes on asset hot reloading
  content/learn/migration-guides/0.11-0.12/_index.md
Labels: A-Migration Guides

#823 Fix up sentences in animation section
  content/news/2023-11-04-bevy-0.12/index.md
Labels: A-Migration Guides

#822 Update migration guide for PRs 9419 and 9604
  content/learn/migration-guides/0.11-0.12/_index.md
Labels: A-Migration Guides
