Repository bevyengine/bevy-website, pull requests merged in 2024-02, with the labels that each got.

#904 Improve table styling
  sass/elements/_table.scss
  sass/site.scss
Labels: S-Ready-For-Final-Review, A-News, C-Webdev

#908 Fix table borders
  sass/elements/_table.scss
Labels: C-Bug, S-Ready-For-Final-Review, C-Webdev

#914 Fix a link error
  content/learn/book/development-practices/fast-compiles/_index.md
Labels: A-Book, C-Correction

#899 0.13: Add Extensionless Asset Support Section
  content/news/2024-02-03-bevy-0.13/index.md
Labels: S-Ready-For-Final-Review, A-News, C-Content

#900 0.13: Add Auto Sync Points Section
  content/news/2024-02-03-bevy-0.13/index.md
Labels: S-Ready-For-Final-Review, A-News, C-Content

#902 0.13: transmute queries
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#903 0.13: Entity improvements section
  content/news/2024-02-03-bevy-0.13/entity_hash_optimsation_benches.png
  content/news/2024-02-03-bevy-0.13/entityhasher_output.png
  content/news/2024-02-03-bevy-0.13/index.md
Labels: S-Ready-For-Final-Review, A-News, C-Content

#901 0.13: Write 'Type-safe labels for `RenderGraph`' section
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#916 Actually run code validation in CI
  .github/workflows/ci.yml
Labels: C-Bug, S-Ready-For-Final-Review, A-Build-System

#913 Bump Github Actions versions
  .github/workflows/build-wasm-examples.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/update-screenshots.yml
Labels: A-Build-System, dependencies

#907 0.13: System stepping
  content/news/2024-02-03-bevy-0.13/index.md
  content/news/2024-02-03-bevy-0.13/stepping-breakpoint.mp4
  content/news/2024-02-03-bevy-0.13/stepping-disable-system.mp4
  content/news/2024-02-03-bevy-0.13/stepping-run-always.mp4
  content/news/2024-02-03-bevy-0.13/stepping-step-continue.mp4
Labels: A-News, C-Content

#918 WorldQuery Trait Split Section
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#915 Fix lines not being hidden in indented code blocks
  write-rustdoc-hide-lines/Cargo.lock
  write-rustdoc-hide-lines/Cargo.toml
  write-rustdoc-hide-lines/src/code_block_definition.rs
  write-rustdoc-hide-lines/src/formatter.rs
  write-rustdoc-hide-lines/src/hidden_ranges.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Book

#925 0.13: WGPU upgrade and misc rendering changes.
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-Book, C-Content

#930 Fix missed mobile page menu link to book
  templates/layouts/base.html
Labels: C-Bug, A-Book

#921 Use Environmental Files instead of `set-output` command
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Labels: S-Ready-For-Final-Review, A-Build-System

#927 Stop public draft pages from being indexed by search engines, hopefully
  templates/docs-section.html
Labels: C-Bug, S-Ready-For-Final-Review, C-Webdev

#895 0.13: Add Dynamic Queries section
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#933 Bind group layout entries
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#938 Add asset transformers section
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#912 Remove bors.toml
  .github/bors.toml
  generate-release/src/github_client.rs
  generate-release/src/helpers.rs
  generate-release/src/main.rs
  generate-release/src/release_notes.rs
  generate-release/src/release_notes_website.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Build-System

#940 0.13: Events Live Longer
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#942 Add indirect specular section
  content/news/2024-02-03-bevy-0.13/index.md
  content/news/2024-02-03-bevy-0.13/specular_occlusion_off.jpg
  content/news/2024-02-03-bevy-0.13/specular_occlusion_on.jpg
Labels: A-News, C-Content

#939 Normalize line endings
  .gitattributes
  content/learn/migration-guides/0.10-0.11/_index.md
  content/learn/migration-guides/0.11-0.12/_index.md
  content/learn/migration-guides/0.8-0.9/_index.md
  content/learn/migration-guides/0.9-0.10/_index.md
  generate-assets/src/gitlab_client.rs
  generate-release/src/changelog.rs
  generate-release/src/github_client.rs
  generate-release/src/helpers.rs
  generate-release/src/markdown.rs
  generate-release/src/migration_guide.rs
  generate-release/src/release_notes.rs
  generate-release/src/release_notes_website.rs
Labels: S-Ready-For-Final-Review, A-Build-System

#935 Lint tools in CI
  .github/workflows/ci.yml
  generate-assets/src/bin/generate.rs
  generate-assets/src/lib.rs
  generate-community/src/bin/generate.rs
  generate-community/src/bin/validate.rs
  generate-community/src/lib.rs
  generate-errors/src/bin/generate.rs
  generate-errors/src/lib.rs
  generate-release/src/helpers.rs
  generate-release/src/migration_guide.rs
  sass/pages/_migration_guide.scss
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Build-System

#949 What's next: Bevy dev tools
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#955 0.13: glTF extensions
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#954 0.13: Lights <3 RenderLayers
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#952 0.13: Animatable trait and animation interpolation
  content/news/2024-02-03-bevy-0.13/index.md
  content/news/2024-02-03-bevy-0.13/interpolation_methods.gif
Labels: A-News, C-Content

#953 Notes on Winit upgrade
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#946 Bevy 0.13: Future of relations
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#947 What's next: Scenes 2.0
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#950 What's Next: Editor experiments
  content/news/2024-02-03-bevy-0.13/bevy_components.png
  content/news/2024-02-03-bevy-0.13/editor_mockup.png
  content/news/2024-02-03-bevy-0.13/index.md
  content/news/2024-02-03-bevy-0.13/locomotion_graph.png
  content/news/2024-02-03-bevy-0.13/makeshift_web.png
  content/news/2024-02-03-bevy-0.13/space_editor.png
Labels: A-News, C-Content

#960 0.13: rendering performance improvements
  content/news/2024-02-03-bevy-0.13/better_batching.svg
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#961 Remove duplicate plugin development chapter
  content/learn/book/plugin-development/_index.md
Labels: C-Bug, S-Ready-For-Final-Review, A-Book

#966 Let shell scripts be called from any directory
  generate-assets/generate_assets.sh
  generate-community/generate_community.sh
  generate-errors/generate_errors.sh
  generate-wasm-examples/clone_bevy.sh
  generate-wasm-examples/generate_wasm_examples.sh
  write-rustdoc-hide-lines/write_rustdoc_hide_lines.sh
Labels: S-Ready-For-Final-Review, A-Build-System, C-Usability

#906 0.13: Primitive shapes
  content/news/2024-02-03-bevy-0.13/2d_shapes.png
  content/news/2024-02-03-bevy-0.13/3d_shapes.png
  content/news/2024-02-03-bevy-0.13/bounding_intersections.mp4
  content/news/2024-02-03-bevy-0.13/cuboids.png
  content/news/2024-02-03-bevy-0.13/index.md
  content/news/2024-02-03-bevy-0.13/tori.png
Labels: A-News, C-Content

#967 Simplify shallow clones in shell scripts
  generate-community/generate_community.sh
  generate-wasm-examples/clone_bevy.sh
  generate-wasm-examples/generate_wasm_examples.sh
Labels: S-Ready-For-Final-Review, A-Build-System, C-Code Quality

#972 Remove whitespace in `robots.txt`
  templates/macros/disallow.html
Labels: C-Bug, S-Ready-For-Final-Review, C-Webdev

#923 Improve write-rustdoc-hide-lines
  .github/workflows/ci.yml
  content/community/_index.md
  content/faq.md
  content/sponsorship-pledge/_index.md
  write-rustdoc-hide-lines/README.md
  write-rustdoc-hide-lines/src/formatter.rs
  write-rustdoc-hide-lines/src/main.rs
  write-rustdoc-hide-lines/write_rustdoc_hide_lines.sh
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Build-System

#979 Remove deprecated `chrono` usage
  generate-release/src/github_client.rs
Labels: A-Build-System

#980 0.13: Exposure
  content/news/2024-02-03-bevy-0.13/exposure_15.jpg
  content/news/2024-02-03-bevy-0.13/exposure_97.jpg
  content/news/2024-02-03-bevy-0.13/index.md
Labels: A-News, C-Content

#968 Add public draft support to news section
  templates/news.html
Labels: C-Enhancement, A-News

#892 0.13 migration guide
  content/learn/migration-guides/0.12-to-0.13.md
  content/learn/migration-guides/introduction.md
Labels: C-Enhancement, A-Migration Guides

#987 Update "Unload render assets from RAM"
  content/learn/migration-guides/0.12-to-0.13.md
Labels: A-Migration Guides, C-Correction

#983 Fix typo in index.html
  templates/index.html
Labels: S-Ready-For-Final-Review, C-Correction

#973 Remove duplicate anchor link scss
  sass/_utils.scss
Labels: S-Ready-For-Final-Review, C-Webdev, C-Code Quality

#991 Update "Unload render assets from RAM"
  content/learn/migration-guides/0.12-to-0.13.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#891 0.13 announcement post
  content/news/2024-02-17-bevy-0.13/2d_shapes.png
  content/news/2024-02-17-bevy-0.13/3d_shapes.png
  content/news/2024-02-17-bevy-0.13/San_Miguel_13.jpg
  content/news/2024-02-17-bevy-0.13/better_batching.svg
  content/news/2024-02-17-bevy-0.13/bevy_components.jpg
  content/news/2024-02-17-bevy-0.13/bounding_intersections.mp4
  content/news/2024-02-17-bevy-0.13/cuboids.png
  content/news/2024-02-17-bevy-0.13/editor_mockup.png
  content/news/2024-02-17-bevy-0.13/entity_hash_optimsation_benches.png
  content/news/2024-02-17-bevy-0.13/exposure_15.jpg
  content/news/2024-02-17-bevy-0.13/exposure_97.jpg
  content/news/2024-02-17-bevy-0.13/index.md
  content/news/2024-02-17-bevy-0.13/interpolation_methods.gif
  content/news/2024-02-17-bevy-0.13/irradiance_volume.jpg
  content/news/2024-02-17-bevy-0.13/irradiance_volume.mp4
  content/news/2024-02-17-bevy-0.13/jarl.webp
  content/news/2024-02-17-bevy-0.13/lightmap.jpg
  content/news/2024-02-17-bevy-0.13/locomotion_graph.png
  content/news/2024-02-17-bevy-0.13/logo_tiling.mp4
  content/news/2024-02-17-bevy-0.13/makeshift_web.jpg
  content/news/2024-02-17-bevy-0.13/meshlet_preview.png
  content/news/2024-02-17-bevy-0.13/reflection_probes.jpg
  content/news/2024-02-17-bevy-0.13/rendering-perf-graph.svg
  content/news/2024-02-17-bevy-0.13/slice_vs_stretched.png
  content/news/2024-02-17-bevy-0.13/space_editor.png
  content/news/2024-02-17-bevy-0.13/specular_occlusion_off.jpg
  content/news/2024-02-17-bevy-0.13/specular_occlusion_on.jpg
  content/news/2024-02-17-bevy-0.13/split-screen.png
  content/news/2024-02-17-bevy-0.13/stepping-breakpoint.mp4
  content/news/2024-02-17-bevy-0.13/stepping-step-continue.mp4
  content/news/2024-02-17-bevy-0.13/tori.png
  content/news/2024-02-17-bevy-0.13/ui_slice.png
  sass/pages/_content.scss
Labels: C-Enhancement, A-News

#995 Typo in 0.13 example
  content/news/2024-02-17-bevy-0.13/index.md
Labels: A-News, C-Correction

#996 Fix 'iidiomatic' typo
  content/news/2024-02-17-bevy-0.13/index.md
Labels: A-News, C-Correction

#1008 0.13 migration: Provide advice for 10822
  content/learn/migration-guides/0.12-to-0.13.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1003 Fix various typos
  content/news/2024-02-17-bevy-0.13/index.md
Labels: A-News, C-Correction

#1005 0.13 news: Fix link to quick start guide
  content/news/2024-02-17-bevy-0.13/index.md
Labels: A-News, C-Correction

#992 Removed outdated statements about asset_usage
  content/learn/migration-guides/0.12-to-0.13.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#993 Explicit add deprecated shapes on migration guide
  content/learn/migration-guides/0.12-to-0.13.md
Labels: C-Content, A-Migration Guides

#1009 0.13 migration: Simplify entry for 7650
  content/learn/migration-guides/0.12-to-0.13.md
Labels: A-Migration Guides

#1001 Add KeyCode section to 0.12 - 0.13 migration guide
  content/learn/migration-guides/0.12-to-0.13.md
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides

#1011 ReceivedCharacter.char
  content/learn/migration-guides/0.12-to-0.13.md
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides

#1012 Fix typo in author name
  content/news/2024-02-17-bevy-0.13/index.md
Labels: A-News, C-Correction

#963 Remove old contributing section
  CONTRIBUTING.md
  code-validation/src/lib.rs
  content/learn/quick-start/contributing/_index.md
  content/learn/quick-start/contributing/code.md
  content/learn/quick-start/contributing/docs.md
  content/learn/quick-start/plugin-development.md
  content/learn/quick-start/troubleshooting.md
  generate-release/Cargo.lock
Labels: S-Ready-For-Final-Review, A-Book, A-Meta, C-Correction

#1006 Some typos and minor improvements in the 0.13 post
  content/news/2024-02-17-bevy-0.13/index.md
Labels: S-Ready-For-Final-Review, A-News, C-Correction

#1019 Rename `DefaultGizmoGroup` to `DefaultGizmoConfigGroup` in `0.12 -> 0.13 Migration Guide`
  content/learn/migration-guides/0.12-to-0.13.md
Labels: A-Migration Guides, C-Correction

#1017 Update screenshot job
  .github/workflows/update-screenshots.yml
Labels: A-Examples

#1021 Add back in necessary prelude boilerplate to getting started
  content/learn/quick-start/getting-started/apps.md
  content/learn/quick-start/getting-started/ecs.md
Labels: S-Ready-For-Final-Review, A-Book, C-Correction

#1014 Add a note about platform-specific dependencies in quick start
  content/learn/quick-start/getting-started/_index.md
Labels: A-Book, C-Content

#1022 Follow up #1021
  content/learn/quick-start/getting-started/apps.md
Labels: S-Ready-For-Final-Review, A-Book, C-Correction

#1013 Make Sass formatting consistent
  .editorconfig
  .github/workflows/ci.yml
  sass/_functions.scss
  sass/_mixins.scss
  sass/_vars.scss
  sass/components/_asset-card.scss
  sass/components/_bevy-instance.scss
  sass/components/_button-square.scss
  sass/components/_button.scss
  sass/components/_card.scss
  sass/components/_container.scss
  sass/components/_docs-footer.scss
  sass/components/_example.scss
  sass/components/_header.scss
  sass/components/_icon.scss
  sass/components/_image_compare.scss
  sass/components/_item-grid.scss
  sass/components/_layout.scss
  sass/components/_link-card.scss
  sass/components/_logo.scss
  sass/components/_main-menu-backdrop.scss
  sass/components/_main-menu.scss
  sass/components/_menu-switch.scss
  sass/components/_page-with-menu.scss
  sass/components/_sponsors.scss
  sass/elements/_body.scss
  sass/elements/_html.scss
  sass/elements/_table.scss
  sass/fonts/_firamono.scss
  sass/fonts/_firasans.scss
  sass/pages/_community.scss
  sass/pages/_content.scss
  sass/pages/_docs.scss
  sass/pages/_features.scss
  sass/pages/_migration_guide.scss
  sass/pages/_news.scss
  sass/pages/_people.scss
  sass/site.scss
Labels: S-Ready-For-Final-Review, A-Build-System, C-Webdev, C-Code Quality

#1028 Clarify `Texture Atlas rework` migration guide
  content/learn/migration-guides/0.12-to-0.13.md
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides

#1036 Fix wrong link to migration page
  content/news/2024-02-17-bevy-0.13/index.md
Labels: A-News

#1037 0.13 migration: Remove name serialization section
  content/learn/migration-guides/0.12-to-0.13.md
Labels: A-Migration Guides, C-Correction

#1018 Update Zola to 0.18.0
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  CONTRIBUTING.md
  sass/_functions.scss
  sass/components/_asset-card.scss
  sass/components/_icon.scss
  sass/components/_image_compare.scss
  sass/components/_page-with-menu.scss
Labels: S-Ready-For-Final-Review, A-Build-System, C-Webdev

#1035 Combine `Change light defaults & fix light examples` migration guide with `New Exposure and Lighting Defaults (and calibrate examples) `
  content/learn/migration-guides/0.12-to-0.13.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1039 0.13 migration: Add note about `new_absolute` and `new_relative` being removed
  content/learn/migration-guides/0.12-to-0.13.md
Labels: C-Enhancement, A-Migration Guides

#1038 Fix assigns in Migration guide
  content/learn/migration-guides/0.12-to-0.13.md
Labels: A-Migration Guides, C-Correction

#1031 0.13 migration: Remove section for change of type not present in 0.12
  content/learn/migration-guides/0.12-to-0.13.md
Labels: A-Migration Guides, C-Correction

#970 Make the site higher contrast for accessibility
  sass/_utils.scss
  sass/_vars.scss
  sass/components/_button.scss
  sass/components/_docs-footer.scss
  sass/components/_header.scss
  sass/components/_syntax-theme.scss
Labels: C-Accessibility, C-Webdev

#1042 AtlasImageBundle field name typo in migration guide
  content/learn/migration-guides/0.12-to-0.13.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#843 Add learn/errors link card to the learn page
  content/learn/links.toml
Labels: S-Ready-For-Final-Review, A-Home, C-Usability

#978 Add tools to Cargo workspace
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  code-validation/Cargo.toml
  code-validation/rustfmt.toml
  generate-assets/.gitignore
  generate-assets/Cargo.lock
  generate-assets/Cargo.toml
  generate-assets/src/bin/generate.rs
  generate-assets/src/bin/validate.rs
  generate-assets/src/gitlab_client.rs
  generate-assets/src/lib.rs
  generate-community/.gitignore
  generate-community/Cargo.lock
  generate-community/Cargo.toml
  generate-community/src/bin/generate.rs
  generate-errors/.gitignore
  generate-errors/Cargo.lock
  generate-errors/Cargo.toml
  generate-errors/src/bin/generate.rs
  generate-release/.gitignore
  generate-release/Cargo.lock
  generate-release/Cargo.toml
  generate-release/src/main.rs
  generate-release/src/markdown.rs
  generate-wasm-examples/.gitignore
  rustfmt.toml
  write-rustdoc-hide-lines/.gitignore
  write-rustdoc-hide-lines/Cargo.lock
  write-rustdoc-hide-lines/Cargo.toml
Labels: S-Ready-For-Final-Review, A-Build-System, C-Code Quality

#1043 Add old sponsor Meetkai to past sponsors list
  templates/index.html
Labels: A-Home, C-Correction

#1044 0.12 migration: Add view transformations section
  content/learn/migration-guides/0.11-to-0.12.md
Labels: C-Content, A-Migration Guides

#1045 0.13 migration: Use clippy-approved ReceivedCharacter advice
  content/learn/migration-guides/0.12-to-0.13.md
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Migration Guides

#1054 Fix typos
  code-validation/src/lib.rs
  content/learn/book/ecs/entities-components.md
  content/learn/migration-guides/0.10-to-0.11.md
  content/learn/migration-guides/0.12-to-0.13.md
  content/learn/migration-guides/0.4-to-0.5.md
  content/learn/migration-guides/0.5-to-0.6.md
  content/learn/migration-guides/0.7-to-0.8.md
  content/learn/migration-guides/0.9-to-0.10.md
  content/learn/quick-start/getting-started/setup.md
  content/news/2021-04-06-bevy-0.5/index.md
  content/news/2022-07-30-bevy-0.8/index.md
  content/news/2023-03-06-bevy-0.10/index.md
  content/news/2023-07-09-bevy-0.11/index.md
  content/news/2023-11-04-bevy-0.12/index.md
  content/news/2024-02-17-bevy-0.13/index.md
  generate-assets/src/gitlab_client.rs
  generate-assets/src/lib.rs
  generate-release/src/main.rs
  templates/example-webgpu.html
  templates/example.html
  write-rustdoc-hide-lines/src/main.rs
Labels: S-Ready-For-Final-Review, C-Correction

#842 Move parallelism note in ECS learn page
  content/learn/quick-start/getting-started/ecs.md
Labels: S-Ready-For-Final-Review, A-Book, C-Content

#962 Fix migration guide page navigation ordering consistency
  templates/docs-base.html
Labels: S-Ready-For-Final-Review, A-Book, C-Usability

#1056 Fix mistake in next and previous page navigation
  templates/docs-base.html
Labels: C-Bug, S-Ready-For-Final-Review, A-Migration Guides

#1058 Fix outdated feature
  content/learn/quick-start/getting-started/setup.md
Labels: S-Ready-For-Final-Review, A-Book, C-Correction

#1057 Add typos - Source code spell checker
  .github/workflows/ci.yml
  typos.toml
Labels: S-Ready-For-Final-Review, A-Build-System, C-Content

#1052 Add READMEs to `code-validation` and `generate-assets`
  code-validation/README.md
  generate-assets/README.md
  write-rustdoc-hide-lines/README.md
Labels: S-Ready-For-Final-Review, C-Usability

#1060 Update, prune, and modify dependencies
  Cargo.lock
  code-validation/Cargo.toml
  generate-community/Cargo.toml
  generate-errors/Cargo.toml
  generate-release/Cargo.toml
Labels: S-Ready-For-Final-Review, A-Build-System, C-Code Quality

#1050 Improve `generate_wasm_examples.sh`
  .github/workflows/ci.yml
  generate-wasm-examples/clone_bevy.sh
  generate-wasm-examples/generate_wasm_examples.sh
Labels: S-Ready-For-Final-Review, A-Build-System, C-Code Quality

#869 Add Clang to the install command in LLD installation instructions
  content/learn/quick-start/getting-started/setup.md
Labels: A-Book, C-Correction

#1064 Fix dead contributing.md link
  content/learn/quick-start/getting-started/plugins.md
Labels: S-Ready-For-Final-Review, A-Book, C-Correction

#1065 Sold in MacOS now is MIT licensed
  content/learn/quick-start/getting-started/setup.md
Labels: S-Ready-For-Final-Review, A-Book, C-Correction

#1063 Make demo code consistent with previous tutorial steps
  content/learn/quick-start/getting-started/plugins.md
  content/learn/quick-start/getting-started/resources.md
Labels: S-Ready-For-Final-Review, A-Book, C-Correction

#1026 Make HTML formatting consistent
  .djlintrc
  .editorconfig
  .github/workflows/ci.yml
  .mega-linter.yml
  sass/components/_button.scss
  sass/components/_header.scss
  sass/components/_logo.scss
  sass/pages/_donate.scss
  sass/pages/_features.scss
  sass/pages/_news.scss
  sass/site.scss
  static/assets/Futurewei.png
  static/assets/LegionLabs.png
  static/assets/meetkai.png
  static/assets/metabuild.png
  static/assets/striked.png
  templates/404.html
  templates/anchor-link.html
  templates/assets.html
  templates/community.html
  templates/docs-base.html
  templates/docs-page.html
  templates/docs-section.html
  templates/donate.html
  templates/errors.html
  templates/example-webgpu.html
  templates/example.html
  templates/examples-webgpu.html
  templates/examples.html
  templates/faq.html
  templates/index.html
  templates/layouts/base.html
  templates/layouts/page-with-menu.html
  templates/learn.html
  templates/macros/assets.html
  templates/macros/disallow.html
  templates/macros/docs.html
  templates/macros/header.html
  templates/macros/images.html
  templates/macros/news.html
  templates/macros/public_draft.html
  templates/news-page.html
  templates/news.html
  templates/people.html
  templates/shortcodes/curly_close.html
  templates/shortcodes/curly_open.html
  templates/shortcodes/file_code_block.html
  templates/shortcodes/incorrect_code_block.html
  templates/shortcodes/todo.html
  templates/sponsorship-pledge.html
Labels: S-Ready-For-Final-Review, A-Build-System, C-Webdev, C-Code Quality
