Repository bevyengine/bevy-website, pull requests merged in 2024-11, with the labels that each got.

#1758 Release notes for EntityRefExcept and EntityMutExcept
  release-content/0.15/release-notes/15207_Add_EntityRefExcept_and_EntityMutExcept_world_queries_in_p.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1761 Remove insert_if_new release notes
  release-content/0.15/release-notes/14646_feat_add_insert_if_new_14397.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1762 Gamepads as entities release notes
  release-content/0.15/release-notes/12770_Implement_gamepads_as_entities.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1763 Add links to new fallible params
  release-content/0.15/release-notes/15276_Reduce_runtime_panics_through_SystemParam_validation.md
Labels: A-Release-Notes, S-Needs-Review

#1764 Release notes for reference in system input
  release-content/0.15/release-notes/15184_Support_systems_that_take_references_as_input.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1765 Release notes for track source location in change detection
  release-content/0.15/release-notes/14034_Track_source_location_in_change_detection.md
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1766 Release notes for dense iteration with sparse filters
  release-content/0.15/release-notes/14049_Opportunistically_use_dense_iteration_for__archetypal_iter.md
  release-content/0.15/release-notes/14673_Opportunistically_use_dense_iter_for_archetypal_iteration_.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1769 Add 0.15 release notes for isometries
  release-content/0.15/release-notes/14269_Basic_isometry_types.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1770 Add 0.15 release notes for UI scrolling
  release-content/0.15/release-notes/15291_UI_Scrolling.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1754 Add 0.15 migration guide for GameActivity
  release-content/0.15/migration-guides/12095_Add_features_to_switch_NativeActivity_and_GameActivity_usa.md
Labels: A-Release-Notes, S-Needs-Review

#1768 Add 0.15 release notes for function reflection
  release-content/0.15/release-notes/_release-notes.toml
  release-content/0.15/release-notes/function_reflection.md
Labels: A-Release-Notes, S-Needs-Review

#1776 Incorporate changes to gamepads-as-entities
  release-content/0.15/release-notes/12770_Implement_gamepads_as_entities.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: C-Correction, A-Release-Notes, S-Needs-Review

#1773 Release notes for BRP
  release-content/0.15/release-notes/14880_Initial_implementation_of_the_Bevy_Remote_Protocol_Adopted.md
Labels: A-Release-Notes, S-Waiting-On-Author

#1777 Add stub for Bevy 0.15 release blog post
  content/news/2024-??-??-bevy-0.15/index.md
Labels: A-Release-Notes, S-Needs-Review

#1783 0.15 Release Notes: Cyclic splines
  content/news/2024-??-??-bevy-0.15/cyclic-spline.png
  release-content/0.15/release-notes/14106_Cyclic_splines.md
Labels: A-Release-Notes, S-Needs-Review

#1780 0.15 Release Notes: Animation masks
  content/news/2024-??-??-bevy-0.15/masked-animation.mp4
  release-content/0.15/release-notes/15013_Implement_animation_masks_allowing_fine_control_of_the_tar.md
Labels: A-Release-Notes, S-Needs-Review

#1779 0.15 Release Notes: Required Components
  release-content/0.15/release-notes/14791_Required_Components.md
  release-content/0.15/release-notes/15269_Allow_a_closure_to_be_used_as_a_required_component_default.md
  release-content/0.15/release-notes/15458_Runtime_required_components.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: C-Content, A-Release-Notes

#1775 Remove text batching release notes
  release-content/0.15/release-notes/14848_Improved_text_batching.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1789 0.15 Release Notes: Generalized animation
  content/news/2024-??-??-bevy-0.15/animated-font-size.mp4
  release-content/0.15/release-notes/15282_Allow_animation_clips_to_animate_arbitrary_properties.md
  release-content/0.15/release-notes/15434_Curvebased_animation.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1784 0.15 Release Notes: Curve API
  release-content/0.15/release-notes/14630_A_Curve_trait_for_general_interoperation__Part_I.md
Labels: A-Release-Notes, S-Needs-Review

#1790 0.15 Release Notes: Easing curves
  content/news/2024-??-??-bevy-0.15/ease-functions.mp4
  content/news/2024-??-??-bevy-0.15/eased-rotation.mp4
  release-content/0.15/release-notes/14788_add_curve_utilities_to_create_curves_interpolatingeasing_b.md
  release-content/0.15/release-notes/15675_Add_most_common_interpolations.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1797 0.15 Release Notes: Replace instances of removed curve constructors
  release-content/0.15/release-notes/14630_A_Curve_trait_for_general_interoperation__Part_I.md
  release-content/0.15/release-notes/15282_Allow_animation_clips_to_animate_arbitrary_properties.md
  release-content/0.15/release-notes/15675_Add_most_common_interpolations.md
Labels: A-Release-Notes, S-Needs-Review, D-Trivial

#1798 Mention RenderVisibleEntities
  release-content/0.15/migration-guides/15756_Type_safe_retained_render_world.md
Labels: A-Migration Guides, S-Needs-Review

#1796 Hide example progress bar by default
  sass/components/_bevy-instance.scss
Labels: C-Bug, C-Webdev, A-Examples, S-Needs-Review

#1799 Revert to old content font color
  sass/pages/_content.scss
Labels: C-Webdev

#1791 0.15 Release Notes: Uniform mesh sampling
  release-content/0.15/release-notes/14071_Uniform_mesh_sampling.md
Labels: A-Release-Notes, S-Needs-Review

#1753 GameActivity as new default: release notes
  release-content/0.15/release-notes/12095_Add_features_to_switch_NativeActivity_and_GameActivity_usa.md
Labels: A-Release-Notes, S-Needs-Review

#1802 Fix Bevy 0.15 release post using Windows's restricted characters
  content/news/2024-XX-XX-bevy-0.15/animated-font-size.mp4
  content/news/2024-XX-XX-bevy-0.15/cyclic-spline.png
  content/news/2024-XX-XX-bevy-0.15/ease-functions.mp4
  content/news/2024-XX-XX-bevy-0.15/eased-rotation.mp4
  content/news/2024-XX-XX-bevy-0.15/index.md
  content/news/2024-XX-XX-bevy-0.15/masked-animation.mp4
Labels: C-Bug, S-Ready-For-Final-Review, A-News, D-Trivial

#1800 Add future work section to Bevy 0.15 release notes
  content/news/2024-XX-XX-bevy-0.15/index.md
Labels: A-Release-Notes, S-Waiting-On-Author

#1804 Remove PCSS release notes section
  release-content/0.15/release-notes/13497_Implement_percentagecloser_soft_shadows_PCSS.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes

#1806 bevy_picking release notes
  content/news/2024-XX-XX-bevy-0.15/mesh_picking.png
  release-content/0.15/release-notes/15800_Add_mesh_picking_backend_and_MeshRayCast_system_parameter.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1745 Realese Note for #15361: Implement volumetric fog support for both po…
  content/news/2024-XX-XX-bevy-0.15/volumetric_fog.jpg
  release-content/0.15/release-notes/15361_Implement_volumetric_fog_support_for_both_point_lights_and.md
Labels: A-Release-Notes, S-Waiting-On-Author

#1786 0.15 Release Notes: Retained Rendering
  release-content/0.15/migration-guides/15320_Retained_Rendering.md
  release-content/0.15/migration-guides/_guides.toml
  release-content/0.15/release-notes/15320_Retained_Rendering.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1808 0.15 Release Notes: Cosmic Text
  content/news/2024-XX-XX-bevy-0.15/arabic_text.png
  release-content/0.15/release-notes/10193_Cosmic_text.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes

#1813 0.15 Release Notes: Cached One-shot Systems
  release-content/0.15/release-notes/14920_Add_cached_run_system_API.md
Labels: A-Release-Notes, S-Waiting-On-Author

#1816 Remove UI AA PRs from release notes
  release-content/0.15/release-notes/15170_Enabledisable_UI_antialiasing.md
  release-content/0.15/release-notes/15368_Add_the_ability_to_control_font_smoothing.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1817 Behead Headless Plugins release notes
  release-content/0.15/release-notes/15260_Added_HeadlessPlugins_15203.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1811 0.15: Virtual Geometry
  release-content/0.15/migration-guides/14193_Faster_MeshletMesh_deserialization.md
  release-content/0.15/migration-guides/14623_Meshlet_software_raster__start_of_cleanup.md
  release-content/0.15/migration-guides/15643_Permeshlet_compressed_vertex_data.md
  release-content/0.15/migration-guides/_guides.toml
  release-content/0.15/migration-guides/virtual_geometry.md
  release-content/0.15/release-notes/_release-notes.toml
  release-content/0.15/release-notes/virtual_geometry.md
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1819 0.15 Release Notes: Chromatic Aberration
  content/news/2024-XX-XX-bevy-0.15/chromatic_aberration.png
  release-content/0.15/release-notes/13695_Start_a_builtin_postprocessing_stack_and_implement_chromat.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1818 0.15: `ReflectDe/SerializerProcessor`
  release-content/0.15/release-notes/8611_bevy_reflect_Add_DeserializeWithRegistry_and_SerializeWithR.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Waiting-On-Author

#1821 0.15 Release Notes: VBAO
  content/news/2024-XX-XX-bevy-0.15/gtao.jpg
  content/news/2024-XX-XX-bevy-0.15/vbao.jpg
  release-content/0.15/release-notes/13454_vbao.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1815 Merge and refine UI bundles changes
  release-content/0.15/migration-guides/15898_Migrate_UI_bundles_to_required_components.md
  release-content/0.15/migration-guides/15975_Merge_Style_properties_into_Node_Use_ComputedNode_for_comp.md
  release-content/0.15/migration-guides/_guides.toml
Labels: A-Migration Guides, S-Needs-Review

#1805 0.15 Release Notes: `Set` Reflection
  release-content/0.15/release-notes/13014_Dedicated_Reflect_implementation_for_Setlike_things.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1823 Bubble and trouble: release notes for bubbling observers
  release-content/0.15/release-notes/13991_Minimal_Bubbling_Observers.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1829 0.15 Release Notes: Animation Events
  content/news/2024-XX-XX-bevy-0.15/animated_fox.mp4
  release-content/0.15/release-notes/15538_Add_Support_for_Triggering_Events_via_AnimationEvents.md
  release-content/0.15/release-notes/_release-notes.toml
  release-content/0.15/release-notes/virtual_geometry.md
Labels: A-Release-Notes

#1830 Release notes for stable interpolation
  release-content/0.15/release-notes/13741_Stable_interpolation_and_smooth_following.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1828 Release notes for accumulated mouse inputs
  release-content/0.15/release-notes/14044_Accumulated_mouse_inputs.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1825 Release notes for #15614: Allow World::entity family of functions to take multiple entities and get multiple references back
  release-content/0.15/release-notes/15614_Allow_Worldentity_family_of_functions_to_take_multiple_ent.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1827 Add release notes for box shadows
  content/news/2024-XX-XX-bevy-0.15/box_shadow.png
  release-content/0.15/release-notes/15204_box_shadow.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Blocked, A-Release-Notes, S-Waiting-On-Author

#1833 0.15 Release Notes: Add required components image
  content/news/2024-XX-XX-bevy-0.15/required_component.svg
  release-content/0.15/release-notes/14791_Required_Components.md
Labels: A-Release-Notes

#1834 Improve release note styling
  release-content/0.15/release-notes/14920_Add_cached_run_system_API.md
  release-content/0.15/release-notes/15276_Reduce_runtime_panics_through_SystemParam_validation.md
  release-content/0.15/release-notes/15800_Add_mesh_picking_backend_and_MeshRayCast_system_parameter.md
  sass/pages/_news.scss
  templates/shortcodes/release_notes.md
Labels: C-Webdev, A-Release-Notes, S-Needs-Review, D-Straightforward

#1835 14257 Pack multiple vertex and index buffers Release Notes
  release-content/0.15/release-notes/14257_Pack_multiple_vertex_and_index_arrays_together_into_growab.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1838 0.15 Editorial Pass: Reorder and rename sections, initial highlights
  content/news/2024-XX-XX-bevy-0.15/index.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1839 Add more release notes for reflection serialization improvements
  release-content/0.15/release-notes/8611_bevy_reflect_Add_DeserializeWithRegistry_and_SerializeWithR.md
  release-content/0.15/release-notes/_release-notes.toml
  release-content/0.15/release-notes/reflection_serialization.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1837 Add release note for Unique Reflect
  release-content/0.15/release-notes/7207_reflect_implement_the_unique_reflect_rfc.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1843 Revise and condense retained rendering migration guide
  release-content/0.15/migration-guides/15320_Retained_Rendering.md
  release-content/0.15/migration-guides/15756_Type_safe_retained_render_world.md
  release-content/0.15/migration-guides/_guides.toml
Labels: A-Migration Guides, C-Correction, S-Needs-Review

#1844 Rewrite curves release note to be more approachable and add a brief note about color curves
  release-content/0.15/release-notes/14630_A_Curve_trait_for_general_interoperation__Part_I.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes

#1846 Add some missed migration guides for 0.15
  generate-release/README.md
  release-content/0.15/migration-guides/14387_Deprecate_is_playing_animation.md
  release-content/0.15/migration-guides/15482_bevy_reflect_Add_ReflectDeserializerProcessor.md
  release-content/0.15/migration-guides/15754_Rename_AppWorldobserve_to_add_observer_EntityWorldMutobser.md
  release-content/0.15/migration-guides/16037_Use_enus_locale_for_typos.md
  release-content/0.15/migration-guides/16069_Reduce_the_clusterable_object_UBO_size_below_16384_for_Web.md
  release-content/0.15/migration-guides/16072_Move_TextureAtlas_into_UiImage_and_remove_impl_Component_f.md
  release-content/0.15/migration-guides/16090_Adding_alpha_threshold_to_OrderIndependentTransparencySett.md
  release-content/0.15/migration-guides/16097_Remove_custom_rounding.md
  release-content/0.15/migration-guides/16139_ReflectBundleremove_improvement.md
  release-content/0.15/migration-guides/16163_Dont_reëxport_bevy_image_from_bevy_render.md
  release-content/0.15/migration-guides/16222_Gamepad_improvements.md
  release-content/0.15/migration-guides/16233_Use_Name_component_for_gamepad.md
  release-content/0.15/migration-guides/16257_Remove_accesskit_reexport_from_bevy_a11y.md
  release-content/0.15/migration-guides/16269_Make_ComponentTicks_field_public.md
  release-content/0.15/migration-guides/16271_UiImage__ImageNode_UiImageSize__ImageNodeSize.md
  release-content/0.15/migration-guides/16301_Expose_Pipeline_Compilation_Zero_Initialize_Workgroup_Memo.md
  release-content/0.15/migration-guides/16327_Rename_Rot2angle_between_to_Rot2angle_to.md
  release-content/0.15/migration-guides/16375_Only_use_physical_coords_internally_in_bevy_ui.md
  release-content/0.15/migration-guides/16405_Bind_only_the_written_parts_of_storage_buffers.md
  release-content/0.15/migration-guides/16468_Only_use_the_AABB_center_for_mesh_visibility_range_testing.md
  release-content/0.15/migration-guides/16473_Add_flags_to_SpritePlugin_and_UiPlugin_to_allow_disabling_.md
  release-content/0.15/migration-guides/16481_cleanup_bevy_renderlibrs.md
  release-content/0.15/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides

#1849 0.15 migration: Touch up entry for PR 15196
  release-content/0.15/migration-guides/15196_Rename_push_children_to_add_children.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1850 Add some missing migration guides from older PRs
  generate-release/src/github_client.rs
  generate-release/src/helpers.rs
  release-content/0.15/migration-guides/10193_Cosmic_text.md
  release-content/0.15/migration-guides/10823_Generalized_IntoAssetSourceId_and_IntoAssetPath_Implementa.md
  release-content/0.15/migration-guides/12637_check_sampler_type_in_as_bind_group_derives.md
  release-content/0.15/migration-guides/13045_Support_on_thread_spawn_and_on_thread_destroy_for_TaskPool.md
  release-content/0.15/migration-guides/13186_Wgpu_020.md
  release-content/0.15/migration-guides/13419_Allow_mix_of_hdr_and_nonhdr_cameras_to_same_render_target.md
  release-content/0.15/migration-guides/13707_Make_gLTF_node_children_Handle_instead_of_objects.md
  release-content/0.15/migration-guides/13717_Uncouple_DynamicTextureAtlasBuilder_from_assets.md
  release-content/0.15/migration-guides/13727_Add_mappings_to_EntityMapper.md
  release-content/0.15/migration-guides/13745_Improve_error_handling_for_AssetServeradd_async.md
  release-content/0.15/migration-guides/13759_Adds_back_in_way_to_convert_color_to_u8_array_implemented_.md
  release-content/0.15/migration-guides/13760_Add_Display_implementation_to_DebugName.md
  release-content/0.15/migration-guides/13784_Rename_and_Extend_Run_Conditions_API.md
  release-content/0.15/migration-guides/13837_Use_a_well_defined_type_for_sides_in_RegularPolygon.md
  release-content/0.15/migration-guides/13919_IntoSystemConfigschain_ignore_deferreds_return_type_fix.md
  release-content/0.15/migration-guides/13927_Use_u32_for_all_resolutionsubdivision_fields_in_bevy_gizmo.md
  release-content/0.15/migration-guides/13930_Use_u32_for_resolutionsubdivision_in_primitive_meshing.md
  release-content/0.15/migration-guides/13934_Change_Worldinspect_entity_to_return_an_Iterator_instead_o.md
  release-content/0.15/migration-guides/14001_Handle_CtrlC_in_the_terminal_properly.md
  release-content/0.15/migration-guides/14017_Make_default_behavior_for_BackgroundColor_and_BorderColor_.md
  release-content/0.15/migration-guides/14048_Added_feature_switch_to_default_Standard_Materials_new_ani.md
  release-content/0.15/migration-guides/14052_Merge_BuildWorldChildren_and_BuildChildren_traits.md
  release-content/0.15/migration-guides/14082_Optimize_common_usages_of_AssetReader.md
  release-content/0.15/migration-guides/14091_Bump_accesskit_to_016.md
  release-content/0.15/migration-guides/7207_reflect_implement_the_unique_reflect_rfc.md
  release-content/0.15/migration-guides/8997_Optional_UI_rendering.md
  release-content/0.15/migration-guides/9889_Simplified_ui_stack_system.md
  release-content/0.15/migration-guides/_guides.toml
Labels: C-Bug, C-Content, A-Migration Guides, S-Needs-Review

#1845 Update to mention additional plugin required
  release-content/0.15/migration-guides/14862_Picking_event_ordering.md
Labels: A-Migration Guides, C-Correction

#1852 Use PR number for matching commits to PRs in release/guide generator
  generate-release/src/helpers.rs
Labels: A-Migration Guides, A-Release-Notes, S-Needs-Review, C-Automation

#1854 Write release note for PR 10392 (CPU Drawing)
  release-content/0.15/release-notes/10392_CPU_Drawing.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Waiting-On-Author

#1856 Add final missing migration guides
  release-content/0.15/migration-guides/14082_AssetReader_read_now_returns_an_opaque_type.md
  release-content/0.15/migration-guides/15090_Deprecate_LoadAndSave_Asset_Processor.md
  release-content/0.15/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides

#1840 0.15 Editorial Pass 2
  release-content/0.15/release-notes/15013_Implement_animation_masks_allowing_fine_control_of_the_tar.md
  release-content/0.15/release-notes/15282_Allow_animation_clips_to_animate_arbitrary_properties.md
  release-content/0.15/release-notes/15800_Add_mesh_picking_backend_and_MeshRayCast_system_parameter.md
Labels: S-Blocked, A-Release-Notes

#1857 0.15 Editorial Pass 3
  content/news/2024-XX-XX-bevy-0.15/index.md
  release-content/0.15/release-notes/12770_Implement_gamepads_as_entities.md
  release-content/0.15/release-notes/13669_Expose_winits_MonitorHandle.md
  release-content/0.15/release-notes/13818_Created_an_EventMutator_for_when_you_want_to_mutate_an_eve.md
  release-content/0.15/release-notes/13912_featgltf_add_name_component_to_gltf_mesh_primitive.md
  release-content/0.15/release-notes/13991_Minimal_Bubbling_Observers.md
  release-content/0.15/release-notes/14284_Add_custom_cursors.md
  release-content/0.15/release-notes/14630_A_Curve_trait_for_general_interoperation__Part_I.md
  release-content/0.15/release-notes/14791_Required_Components.md
  release-content/0.15/release-notes/14838_bevy_reflect_add_Type_type.md
  release-content/0.15/release-notes/14880_Initial_implementation_of_the_Bevy_Remote_Protocol_Adopted.md
  release-content/0.15/release-notes/14920_Add_cached_run_system_API.md
  release-content/0.15/release-notes/15204_box_shadow.md
  release-content/0.15/release-notes/15276_Reduce_runtime_panics_through_SystemParam_validation.md
  release-content/0.15/release-notes/15282_Allow_animation_clips_to_animate_arbitrary_properties.md
  release-content/0.15/release-notes/15291_UI_Scrolling.md
  release-content/0.15/release-notes/15320_Retained_Rendering.md
  release-content/0.15/release-notes/15435_List_components_for_QueryEntityErrorQueryDoesNotMatch.md
  release-content/0.15/release-notes/15538_Add_Support_for_Triggering_Events_via_AnimationEvents.md
  release-content/0.15/release-notes/15800_Add_mesh_picking_backend_and_MeshRayCast_system_parameter.md
  release-content/0.15/release-notes/5772_bevy_reflect_Add_Reflectable_trait.md
  release-content/0.15/release-notes/_release-notes.toml
  sass/components/_syntax-theme.scss
Labels: A-Release-Notes

#1858 Remove periods from release highlight bullet points
  content/news/2024-XX-XX-bevy-0.15/index.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes

#1860 Fix up egregiously bad migration guides
  release-content/0.15/migration-guides/12637_check_sampler_type_in_as_bind_group_derives.md
  release-content/0.15/migration-guides/13419_Allow_mix_of_hdr_and_nonhdr_cameras_to_same_render_target.md
  release-content/0.15/migration-guides/13745_Improve_error_handling_for_AssetServeradd_async.md
  release-content/0.15/migration-guides/13759_Adds_back_in_way_to_convert_color_to_u8_array_implemented_.md
  release-content/0.15/migration-guides/13871_Replaced_implicit_emissive_weight_with_default.md
  release-content/0.15/migration-guides/13919_IntoSystemConfigschain_ignore_deferreds_return_type_fix.md
  release-content/0.15/migration-guides/14052_Merge_BuildWorldChildren_and_BuildChildren_traits.md
  release-content/0.15/migration-guides/14073_Lighting_Should_Only_hold_VecEntity_instead_of_TypeIdVecEn.md
  release-content/0.15/migration-guides/14082_Optimize_common_usages_of_AssetReader.md
  release-content/0.15/migration-guides/14257_Pack_multiple_vertex_and_index_arrays_together_into_growab.md
  release-content/0.15/migration-guides/14354_Update_trigger_observers_to_operate_over_slices_of_data.md
  release-content/0.15/migration-guides/14357_Using_Cas_instead_of_CAS_14341.md
  release-content/0.15/migration-guides/14373_Optimize_transform_propagation.md
  release-content/0.15/migration-guides/14430_Fix_error_in_bevy_ui_when_building_without_bevy_text.md
  release-content/0.15/migration-guides/14893_Fix_underflow_panic_in_InitTriInfo.md
  release-content/0.15/migration-guides/15237_AssetServer_LoadState_API_consistency.md
  release-content/0.15/migration-guides/15442_Clip_to_the_UI_nodes_content_box.md
  release-content/0.15/migration-guides/15553_15540_Make_Worldflush_commands_private.md
  release-content/0.15/migration-guides/15589_Impose_a_more_sensible_ordering_for_animation_graph_evalua.md
  release-content/0.15/migration-guides/15598_Remove_TransformCurve.md
  release-content/0.15/migration-guides/16069_Reduce_the_clusterable_object_UBO_size_below_16384_for_Web.md
  release-content/0.15/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, A-Migration Guides

#1864 Fix missing links in 0.15 release notes
  release-content/0.15/release-notes/13991_Minimal_Bubbling_Observers.md
  release-content/0.15/release-notes/14099_Allow_volumetric_fog_to_be_localized_to_specific_optionally.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes, D-Straightforward

#1863 Increase footer gap
  sass/components/_footer.scss
Labels: C-Webdev, S-Needs-Review, D-Trivial

#1870 0.15 Release Notes: Finalize
  content/news/2024-11-29-bevy-0.15/cover.png
  content/news/2024-11-29-bevy-0.15/index.md
  release-content/0.15/changelog.toml
Labels: A-Release-Notes

#1871 0.15 tweaks
  content/news/2024-11-29-bevy-0.15/index.md
  release-content/0.15/release-notes/13454_vbao.md
  release-content/0.15/release-notes/13695_Start_a_builtin_postprocessing_stack_and_implement_chromat.md
  release-content/0.15/release-notes/14284_Add_custom_cursors.md
  release-content/0.15/release-notes/15282_Allow_animation_clips_to_animate_arbitrary_properties.md
  release-content/0.15/release-notes/15538_Add_Support_for_Triggering_Events_via_AnimationEvents.md
Labels: A-Release-Notes

#1874 Switch RC doc links to full release links
  release-content/0.15/release-notes/10392_CPU_Drawing.md
  release-content/0.15/release-notes/12770_Implement_gamepads_as_entities.md
  release-content/0.15/release-notes/13741_Stable_interpolation_and_smooth_following.md
  release-content/0.15/release-notes/13912_featgltf_add_name_component_to_gltf_mesh_primitive.md
  release-content/0.15/release-notes/14257_Pack_multiple_vertex_and_index_arrays_together_into_growab.md
  release-content/0.15/release-notes/14269_Basic_isometry_types.md
  release-content/0.15/release-notes/15276_Reduce_runtime_panics_through_SystemParam_validation.md
  release-content/0.15/release-notes/15361_Implement_volumetric_fog_support_for_both_point_lights_and.md
  release-content/0.15/release-notes/15614_Allow_Worldentity_family_of_functions_to_take_multiple_ent.md
Labels: C-Content, C-Correction, A-Release-Notes, S-Needs-Review, D-Trivial

#1884 0.15: Fix contributors and changelog
  content/news/2024-11-29-bevy-0.15/index.md
  release-content/0.15/contributors.toml
Labels: A-Release-Notes
