Repository bevyengine/bevy-website, pull requests merged in 2024-08, with the labels that each got.

#1589 Contributing Guide: "How You Can Help"
  content/contributing/helping-out/_index.md
  content/contributing/helping-out/how-you-can-help.md
  content/contributing/helping-out/reporting-issues.md
  content/contributing/introduction.md
  content/contributing/reference/triage.md
Labels: S-Ready-For-Final-Review, C-Content, A-Contributing-Guide, D-Straightforward

#1590 Inverse `--local` flag for `generate-release`
  Cargo.lock
  generate-release/src/main.rs
  generate-release/src/release_notes.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Release-Notes, C-Automation, D-Trivial

#1577 Separate contributors from authors for release notes
  generate-release/src/release_notes.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Release-Notes, C-Automation

#1593 News: Bevy's Fourth Birthday
  content/news/2024-08-10-bevys-fourth-birthday/bevy_birthday.svg
  content/news/2024-08-10-bevys-fourth-birthday/improve.svg
  content/news/2024-08-10-bevys-fourth-birthday/index.md
  content/news/2024-08-10-bevys-fourth-birthday/milestones.svg
  content/news/2024-08-10-bevys-fourth-birthday/next_year.svg
  content/news/2024-08-10-bevys-fourth-birthday/numbers.svg
  content/news/2024-08-10-bevys-fourth-birthday/proud.svg
Labels: A-News

#1595 Add remaining pages in How can you Help for the Contributing Guide
  content/contributing/helping-out/creating-examples.md
  content/contributing/helping-out/how-you-can-help.md
  content/contributing/helping-out/opening-pull-requests.md
  content/contributing/helping-out/reporting-issues.md
  content/contributing/helping-out/reviewing-pull-requests.md
  content/contributing/helping-out/writing-docs.md
  content/contributing/introduction.md
  content/contributing/reference/triage.md
Labels: S-Ready-For-Final-Review, C-Content, A-Contributing-Guide

#1599 Fix Discord link in callout
  content/contributing/helping-out/how-you-can-help.md
Labels: C-Bug, S-Ready-For-Final-Review, A-Contributing-Guide, D-Trivial

#1594 fix typo
  content/learn/quick-start/getting-started/plugins.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Quick-Start, D-Trivial

#1600 Add specific zola version currently being used
  README.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Contributing-Guide

#1602 Fix README to specify Zola 0.18
  README.md
Labels: S-Ready-For-Final-Review, A-Meta, C-Correction, D-Trivial

#1596 Add chapter on the Bevy Organization to the Contributing Guide
  content/contributing/project-information/_index.md
  content/contributing/project-information/bevy-organization.md
  content/contributing/project-information/release-process.md
  content/contributing/project-information/working-groups.md
  content/contributing/reference/_index.md
  typos.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Contributing-Guide

#1608 Update Zola to v0.19.2
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  CONTRIBUTING.md
  config.toml
  content/contributing/helping-out/writing-docs.md
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Build-System, C-Webdev

#1610 Fix date formatting for days with one digit
  templates/news-page.html
Labels: C-Bug, S-Ready-For-Final-Review, A-News, C-Usability, D-Trivial

#1613 Change Github to GitHub across the website's content
  content/foundation/meeting-minutes/2024-02-03/index.md
  content/learn/migration-guides/0.6-to-0.7.md
  content/learn/migration-guides/0.7-to-0.8.md
  content/news/2020-08-19-scaling-bevy/index.md
  content/news/2021-08-10-bevys-first-birthday/index.md
  content/news/2023-08-10-bevys-third-birthday/index.md
  content/news/2024-02-17-bevy-0.13/index.md
Labels: S-Ready-For-Final-Review, C-Correction, D-Trivial, A-Cross-Cutting

#1612 Change TODO links to proper links in How You Can Help
  content/learn/contribute/helping-out/how-you-can-help.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Contributing-Guide, D-Trivial

#1614 Migrate engine style guide to Contributing Guide
  content/learn/contribute/helping-out/opening-pull-requests.md
Labels: C-Content, S-Needs-Review, A-Contributing-Guide, D-Straightforward

#1616 Bring Contributing Guide Working Groups Documentation Up to Date
  content/learn/contribute/helping-out/how-you-can-help.md
  content/learn/contribute/project-information/working-groups.md
Labels: S-Ready-For-Final-Review, C-Content, C-Correction, A-Contributing-Guide, D-Trivial

#1615 Clarify PR Merging Rules in Contributing Guide
  content/learn/contribute/helping-out/opening-pull-requests.md
  content/learn/contribute/helping-out/reviewing-pull-requests.md
  content/learn/contribute/project-information/bevy-organization.md
  content/learn/contribute/reference/triage.md
Labels: S-Ready-For-Final-Review, C-Content, A-Contributing-Guide, D-Straightforward

#1619 Fix duplicate words
  content/learn/book/ecs/_index.md
  content/learn/contribute/helping-out/how-you-can-help.md
  content/learn/contribute/project-information/release-process.md
  content/learn/migration-guides/0.11-to-0.12.md
  content/learn/migration-guides/0.7-to-0.8.md
  content/learn/migration-guides/0.9-to-0.10.md
  content/news/2020-08-10-introducing-bevy/index.md
  generate-assets/src/lib.rs
  release-content/0.14/release-notes/12792_Implement_Auto_Exposure_plugin.md
Labels: S-Ready-For-Final-Review, C-Correction, D-Trivial
