Repository bevyengine/bevy-website, pull requests merged in 2024-06, with the labels that each got.

#1208 Remove taffy upgrade from release notes
  release-content/0.14/release-notes/10690_Upgrade_to_Taffy_04.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1280 Fix bevy_states typo
  release-content/0.14/release-notes/11426_Computed_State__Sub_States.md
Labels: C-Correction, A-Release-Notes

#1279 Add release notes for `WinitEvent` / unified event stream
  release-content/0.14/release-notes/12100_Add_WinitEvent_aggregate_event_for_synchronized_window_eve.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1284 Make foundation logo responsive to avoid horizontal scrollbar on mobile
  sass/pages/_foundation.scss
Labels: C-Webdev, S-Needs-Review

#1222 Automatically generate an issue for each `C-Needs-Release-Note` PR merged to Bevy
  generate-release/README.md
  generate-release/src/github_client.rs
  generate-release/src/helpers.rs
  generate-release/src/main.rs
  generate-release/src/migration_guides.rs
  generate-release/src/release_notes.rs
Labels: S-Ready-For-Final-Review, A-Build-System, A-Release-Notes, X-Blessed

#1286 Add newly merged PRs to release notes
  release-content/0.14/release-notes/12792_Implement_Auto_Exposure_plugin.md
  release-content/0.14/release-notes/13317_12502_Remove_limit_on_RenderLayers.md
  release-content/0.14/release-notes/13366_fix_upgrade_to_winit_v030.md
  release-content/0.14/release-notes/13418_Implement_optin_sharp_screenspace_reflections_for_the_defe.md
  release-content/0.14/release-notes/13453_add_handling_of_all_missing_gltf_extras_scene_mesh__materi.md
  release-content/0.14/release-notes/13489_Normalise_matrix_naming.md
  release-content/0.14/release-notes/13501_Implement_Rhombus_2D_primitive.md
  release-content/0.14/release-notes/13572_Implement_motion_vectors_and_TAA_for_skinned_meshes_and_me.md
  release-content/0.14/release-notes/13586_glTF_labels_add_enum_to_avoid_misspelling_and_keep_uptodat.md
  release-content/0.14/release-notes/13650_Map_entities_from_a_resource_when_written_to_the_world.md
  release-content/0.14/release-notes/13653_Added_CompassQuadrant_and_CompassOctant_as_per_13647.md
  release-content/0.14/release-notes/_release-notes.toml
  typos.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes, X-Uncontroversial

#1333 Create 13653_Added_CompassQuadrant_and_CompassOctant_as_per_13647.md
  release-content/0.14/release-notes/13653_Added_CompassQuadrant_and_CompassOctant_as_per_13647.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1344 0.14 migration: remove list markup from single-item lists
  release-content/0.14/migration-guides/11278_Fix_fit_canvas_to_parent.md
  release-content/0.14/migration-guides/11698_Prefer_UVec2_when_working_with_texture_dimensions.md
  release-content/0.14/migration-guides/11939_rename_Camera3dBundles_dither_field_to_deband_dither_to_al.md
  release-content/0.14/migration-guides/11956_Add_random_shader_utils_fix_cluster_debug_visualization.md
  release-content/0.14/migration-guides/11989_Implement_the_AnimationGraph_allowing_for_multiple_animati.md
  release-content/0.14/migration-guides/12024_reflect_treat_proxy_types_correctly_when_serializing.md
  release-content/0.14/migration-guides/12079_bevy_color_Added_Xyza_Colour_Space.md
  release-content/0.14/migration-guides/12114_bevy_color_Added_Hsva_and_Hwba_Models.md
  release-content/0.14/migration-guides/12115_bevy_color_Add_Laba_to_support_Lab_Color_Model.md
  release-content/0.14/migration-guides/12164_Make_sysinfo_diagnostic_plugin_optional.md
  release-content/0.14/migration-guides/12168_bevy_color_Add_Oklch_Color_Space.md
  release-content/0.14/migration-guides/12216_Intern_mesh_vertex_buffer_layouts_so_that_we_dont_have_to_.md
  release-content/0.14/migration-guides/12394_Gizmo_line_styles.md
  release-content/0.14/migration-guides/12453_Improve_performance_by_binning_together_opaque_items_inste.md
  release-content/0.14/migration-guides/12499_Make_from_reflect_or_world_also_try_ReflectDefault_and_imp.md
  release-content/0.14/migration-guides/12538_Add_setting_to_enabledisable_shadows_to_MaterialPlugin.md
  release-content/0.14/migration-guides/12559_Remove_needless_color_specializaion_for_SpritePipeline.md
  release-content/0.14/migration-guides/12582_Divide_the_single_VisibleEntities_list_into_separate_lists.md
  release-content/0.14/migration-guides/12605_Make_AssetActionIgnore_not_copy_assets_to_imported_assets.md
  release-content/0.14/migration-guides/12649_Implement_maths_and_Animatable_for_Srgba.md
  release-content/0.14/migration-guides/12666_FIX12527_Changes_to_make_serde_optional_for_bevy_color.md
  release-content/0.14/migration-guides/12711_Fix_Ord_and_PartialOrd_differing_for_FloatOrd_and_optimize.md
  release-content/0.14/migration-guides/12749_Clean_up_WinitWindowsremove_window.md
  release-content/0.14/migration-guides/12757_Update_glam_version_requirement_from_025_to_027.md
  release-content/0.14/migration-guides/12773_Generate_MeshUniforms_on_the_GPU_via_compute_shader_where_.md
  release-content/0.14/migration-guides/12796_Remove_VectorSpace_impl_on_Quat.md
  release-content/0.14/migration-guides/12811_remove_DeterministicRenderingConfig.md
  release-content/0.14/migration-guides/12827_Consolidate_RenderUiMaterials2d_into_RenderAssets.md
  release-content/0.14/migration-guides/12859_remove_close_on_esc.md
  release-content/0.14/migration-guides/12862_Disable_RAY_QUERY_and_RAY_TRACING_ACCELERATION_STRUCTURE_b.md
  release-content/0.14/migration-guides/12868_Deprecate_ReceivedCharacter.md
  release-content/0.14/migration-guides/12910_Implement_percentagecloser_filtering_PCF_for_point_lights.md
  release-content/0.14/migration-guides/12945_Fix_rendering_of_sprites_text_and_meshlets_after_12582.md
  release-content/0.14/migration-guides/12954_Expose_desired_maximum_frame_latency_through_window_creati.md
  release-content/0.14/migration-guides/12978_Introduce_a_WindowWrapper_to_extend_the_lifetime_of_the_wi.md
  release-content/0.14/migration-guides/13031_Implement_clearcoat_per_the_Filament_and_the_KHR_materials.md
  release-content/0.14/migration-guides/13087_Use_Vec3A_for_3D_bounding_volumes_and_raycasts.md
  release-content/0.14/migration-guides/13159_Improve_tracing_layer_customization.md
  release-content/0.14/migration-guides/13236_Ensure_clean_exit.md
  release-content/0.14/migration-guides/13277_Make_render_phases_render_world_resources_instead_of_compo.md
  release-content/0.14/migration-guides/13317_12502_Remove_limit_on_RenderLayers.md
  release-content/0.14/migration-guides/13411_Common_MeshBuilder_trait.md
  release-content/0.14/migration-guides/13438_Inconsistent_segmentsresolution_naming.md
  release-content/0.14/migration-guides/13452_Rename_Rect_inset_method_to_inflate.md
  release-content/0.14/migration-guides/13462_Fix_UI_elements_randomly_not_appearing_after_13277.md
  release-content/0.14/migration-guides/13465_Make_LoadContext_use_the_builder_pattern_for_loading_depen.md
Labels: A-Migration Guides, C-Correction

#1281 Add release notes for `Rotation2d`
  release-content/0.14/release-notes/11658_Add_Rotation2d.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1342 Add 12747 release note
  release-content/0.14/release-notes/12747_Move_Point_out_of_cubic_splines_module_and_expand_it.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1340 0.14 migration: Delete some guides for non-breaking PRs
  release-content/0.14/migration-guides/12069_Rename_bevy_renderColor_to_LegacyColor.md
  release-content/0.14/migration-guides/12072_bevy_color_Created_a_private_trait_StandardColor.md
  release-content/0.14/migration-guides/12103_Check_cfg_during_CI_and_fix_feature_typos.md
  release-content/0.14/migration-guides/12268_Fix_12255_Updating_TargetCamera_on_multi_camera_scenes_not.md
  release-content/0.14/migration-guides/12530_Use_Dir3_in_Transform_APIs.md
  release-content/0.14/migration-guides/12542_Fix_crash_on_Linux_Nvidia_550_driver.md
  release-content/0.14/migration-guides/12854_Changed_the_order_of_arguments_for_the_Arc_gizmo_docs.md
  release-content/0.14/migration-guides/12855_Move_close_on_esc_to_bevy_dev_tools.md
  release-content/0.14/migration-guides/13008_Add_missing_Default_impl_to_ExtendedMaterial.md
  release-content/0.14/migration-guides/13211_Determine_msrv_for_every_standalone_bevy__crate.md
  release-content/0.14/migration-guides/13271_Avoid_bevy_reflectListiter_wrapping_in_release_mode.md
  release-content/0.14/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1345 Release notes for 12672: Dynamic linking no-op on WASM
  release-content/0.14/release-notes/12672_Make_dynamic_linking_a_noop_on_wasm_targets.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1349 Add more stubs for newly merged PRs
  release-content/0.14/release-notes/13450_Implement_PBR_anisotropy_per_KHR_materials_anisotropy.md
  release-content/0.14/release-notes/13579_Generalize_StateTransitionEventS_to_allow_identity_transit.md
  release-content/0.14/release-notes/13649_Move_utilities_from_examples_to_bevy_state_and_add_concept.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1339 Write Release Notes for `on_unimplemented` Update
  release-content/0.14/release-notes/13347_Add_on_unimplemented_Diagnostics_to_Most_Public_Traits.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1282 Add release notes for PR #5781: bevy_reflect: Recursive registration
  release-content/0.14/release-notes/5781_bevy_reflect_Recursive_registration.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1337 Add rounded box gizmos release notes
  release-content/0.14/release-notes/11948_Add_Rounded_box_gizmos.md
  release-content/0.14/release-notes/gizmos_rounded_cuboid.png
  release-content/0.14/release-notes/gizmos_rounded_rect.png
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1338 Release notes for PR #10973: Contextually clearing gizmos
  release-content/0.14/release-notes/10973_Contextually_clearing_gizmos.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1335 Write release notes for PR #13489: Normalise matrix naming
  release-content/0.14/release-notes/13489_Normalise_matrix_naming.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1351 Release notes for Cubic Splines overhaul
  release-content/0.14/release-notes/10701_Cubic_splines_overhaul.md
  release-content/0.14/release-notes/12747_Move_Point_out_of_cubic_splines_module_and_expand_it.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1353 Add border radius release notes
  release-content/0.14/release-notes/12500_Add_border_radius_to_UI_nodes_adopted.md
  release-content/0.14/release-notes/rounded_borders.png
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1358 Release notes for PR #13366: fix: upgrade to winit v0.30
  release-content/0.14/release-notes/13366_fix_upgrade_to_winit_v030.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1357 Add Extrusion release notes
  release-content/0.14/release-notes/13270_Extrusion.md
  release-content/0.14/release-notes/heart_extrusion.png
  release-content/0.14/release-notes/selected_extrusions.png
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1356 Release note for `bevy_math` sampling functionality
  release-content/0.14/release-notes/12484_Uniform_point_sampling_methods_for_some_primitive_shapes.md
  release-content/0.14/release-notes/13315_Add_Distribution_access_methods_for_ShapeSample_trait.md
  release-content/0.14/release-notes/_release-notes.toml
  release-content/0.14/release-notes/sampling_primitives.png
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1359 States release notes 0.14
  release-content/0.14/release-notes/11426_Computed_States__Sub_States.md
  release-content/0.14/release-notes/13579_Generalize_StateTransitionEventS_to_allow_identity_transit.md
  release-content/0.14/release-notes/13579_State_Identity_Transitions.md
  release-content/0.14/release-notes/13649_Move_utilities_from_examples_to_bevy_state_and_add_concept.md
  release-content/0.14/release-notes/13649_State_Scoped_Entities.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1365 More migration guides
  release-content/0.14/migration-guides/11986_Remove_the_UpdateAssets_and_AssetEvents_schedules.md
  release-content/0.14/migration-guides/12550_Use_asyncfn_in_traits_rather_than_BoxedFuture.md
  release-content/0.14/migration-guides/12605_Make_AssetActionIgnore_not_copy_assets_to_imported_assets.md
  release-content/0.14/migration-guides/12655_Removed_IntoAssedIdT_for_HandleT_as_mentioned_in_12600.md
  release-content/0.14/migration-guides/_guides.toml
  release-content/0.14/release-notes/12547_Add_AsyncSeek_trait_to_Reader_to_be_able_to_seek_inside_as.md
  release-content/0.14/release-notes/12709_Error_info_has_been_added_to_LoadStateFailed.md
Labels: C-Content, A-Migration Guides, S-Needs-Review

#1366 Update migration guide
  release-content/0.14/migration-guides/12038_fix_some_typos.md
  release-content/0.14/migration-guides/12512_Update_to_fixedbitset_05.md
  release-content/0.14/migration-guides/13238_More_idiomatic_texture_atlas_builder.md
  release-content/0.14/migration-guides/13261_More_gizmos_builders.md
  release-content/0.14/migration-guides/13366_fix_upgrade_to_winit_v030.md
  release-content/0.14/migration-guides/13442_constrain_WorldQueryinit_state_argument_to_ComponentInitia.md
  release-content/0.14/migration-guides/13489_Normalise_matrix_naming.md
  release-content/0.14/migration-guides/13513_Refactor_ci_testing_and_separate_it_from_DevToolsPlugin.md
  release-content/0.14/migration-guides/13534_Make_gizmos_take_primitives_by_ref.md
  release-content/0.14/migration-guides/13549_Generalize_component_reflection_to_operate_on_FilteredEnti.md
  release-content/0.14/migration-guides/13580_Add_subdivisions_to_PlaneMeshBuilder.md
  release-content/0.14/migration-guides/13594_Unify_transition_names_to_exited_and_entered.md
  release-content/0.14/migration-guides/13603_Updates_default_Text_font_size_to_24px.md
  release-content/0.14/migration-guides/13605_Additional_options_to_mesh_primitives.md
  release-content/0.14/migration-guides/13626_Combine_transition_systems_of_Substates.md
  release-content/0.14/migration-guides/13637_Move_state_installation_methods_from_bevy_app_to_bevy_stat.md
  release-content/0.14/migration-guides/13640_Move_clusteringrelated_types_and_functions_into_their_own_.md
  release-content/0.14/migration-guides/13654_Rename_point_light_to_clusterable_object_in_cluster_contex.md
  release-content/0.14/migration-guides/13660_rename_touchpad_to_gesture_and_add_new_gestures.md
  release-content/0.14/migration-guides/13678_flush_key_input_cache_when_Bevy_loses_focus_Adopted.md
  release-content/0.14/migration-guides/_guides.toml
  typos.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, X-Uncontroversial

#1367 Update Extrusion release notes to mention `BoundedExtrusion`
  release-content/0.14/release-notes/13270_Extrusion.md
Labels: C-Correction, A-Release-Notes

#1368 Rename Rotation2d
  release-content/0.14/changelog.toml
  release-content/0.14/release-notes/11658_Add_Rotation2d.md
Labels: C-Correction, A-Release-Notes

#1369 Add more whats next
  content/news/draft-bevy-0.14/index.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1374 0.14 migration: Fix formatting of LoadStateFailed migration
  release-content/0.14/migration-guides/12709_Error_info_has_been_added_to_LoadStateFailed.md
Labels: A-Migration Guides, C-Correction

#1378 Mention StatesPlugin in the migration docs
  release-content/0.14/migration-guides/13216_Separate_state_crate.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1371 Add release notes for 12135: 2D wireframe materials
  release-content/0.14/release-notes/12135_Support_wireframes_for_2D_meshes.md
  release-content/0.14/release-notes/12135_Support_wireframes_for_2D_meshes.png
Labels: C-Content, A-Release-Notes

#1372 Update migration guide for logging changes
  release-content/0.14/migration-guides/12045_Add_access_to_App_within_LogPluginupdate_subscriber.md
  release-content/0.14/migration-guides/13159_Improve_tracing_layer_customization.md
  release-content/0.14/migration-guides/_guides.toml
Labels: C-Content, A-Release-Notes

#1373 0.14 migration: Show new paths to state types
  release-content/0.14/migration-guides/13216_Separate_state_crate.md
Labels: C-Enhancement, A-Migration Guides

#1376 Even more migration guides
  release-content/0.14/migration-guides/12302_Allow_setting_RenderAssetUsages_for_gLTF_meshes__materials.md
  release-content/0.14/migration-guides/12407_Fix_leftover_references_to_children_when_despawning_audio_.md
  release-content/0.14/migration-guides/12547_Add_AsyncSeek_trait_to_Reader_to_be_able_to_seek_inside_as.md
  release-content/0.14/migration-guides/12575_Color_maths_4.md
  release-content/0.14/migration-guides/12605_Make_AssetActionIgnore_not_copy_assets_to_imported_assets.md
  release-content/0.14/migration-guides/12709_Error_info_has_been_added_to_LoadStateFailed.md
  release-content/0.14/migration-guides/12827_Consolidate_RenderUiMaterials2d_into_RenderAssets.md
  release-content/0.14/migration-guides/12923_tools_Refactor_CI_to_use_argh.md
  release-content/0.14/migration-guides/13177_Make_AssetMetaCheck_a_field_on_the_asset_plugin.md
  release-content/0.14/migration-guides/13209_move_wgsl_color_operations_from_bevy_pbr_to_bevy_render.md
  release-content/0.14/migration-guides/13307_Remove_ClampColor.md
  release-content/0.14/migration-guides/13415_Add_more_load_direct_implementations.md
  release-content/0.14/migration-guides/13465_Make_LoadContext_use_the_builder_pattern_for_loading_depen.md
  release-content/0.14/migration-guides/13513_Refactor_ci_testing_and_separate_it_from_DevToolsPlugin.md
  release-content/0.14/migration-guides/13637_Move_state_installation_methods_from_bevy_app_to_bevy_stat.md
  release-content/0.14/migration-guides/_guides.toml
  release-content/0.14/release-notes/12547_Add_AsyncSeek_trait_to_Reader_to_be_able_to_seek_inside_as.md
  release-content/0.14/release-notes/12709_Error_info_has_been_added_to_LoadStateFailed.md
Labels: C-Content, A-Migration Guides, S-Needs-Review

#1382 Explain that `App` is not `Send` anymore
  release-content/0.14/migration-guides/9202_Refactor_App_and_SubApp_internals_for_better_separation.md
Labels: A-Migration Guides, C-Correction

#1375 Add release notes for Gizmos Ui Overlay
  release-content/0.14/release-notes/11237_Add_a_gizmobased_overlay_to_show_UI_node_outlines_Adopted.md
  release-content/0.14/release-notes/bevy_ui_outlines.png
Labels: C-Content, A-Release-Notes, S-Waiting-On-Author

#1379 Color migration guide
  release-content/0.14/migration-guides/12163_Migrate_from_LegacyColor_to_bevy_colorColor.md
  release-content/0.14/migration-guides/_guides.toml
Labels: C-Content, A-Migration Guides, S-Waiting-On-Author

#1180 Fix wrong docs section name showing up in the mobile page menu
  templates/docs.html
  templates/layouts/base.html
  templates/macros/base.html
Labels: C-Bug, S-Ready-For-Final-Review, A-Book, A-Migration Guides, A-Quick-Start

#1393 Fix reversed logic in ReceivedCharacter section
  release-content/0.14/migration-guides/12868_Deprecate_ReceivedCharacter.md
Labels: A-Migration Guides, C-Correction

#1392 0.14 migration: Slightly more help for users who had their colors changed
  release-content/0.14/migration-guides/12163_Migrate_from_LegacyColor_to_bevy_colorColor.md
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Migration Guides

#1403 Allow `clippy::doc_markdown` in `code-validation` and fix `lint-tools` job
  Cargo.lock
  code-validation/src/lib.rs
  generate-release/Cargo.toml
  generate-release/src/github_client.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Build-System

#1402 Tiny fix in sponsorship pledge
  templates/sponsorship-pledge.html
Labels: S-Ready-For-Final-Review, C-Correction

#1401 Fix top of table borders
  sass/elements/_table.scss
Labels: S-Ready-For-Final-Review, C-Webdev

#1406 Set `publish = false` for all tools
  Cargo.lock
  code-validation/Cargo.toml
  generate-assets/Cargo.toml
  generate-community/Cargo.toml
  generate-errors/Cargo.toml
  generate-release/Cargo.toml
  write-rustdoc-hide-lines/Cargo.toml
Labels: S-Ready-For-Final-Review, A-Build-System, C-Code Quality, X-Uncontroversial

#1413 add styles for details > .callout
  sass/elements/_details.scss
Labels: S-Ready-For-Final-Review, C-Webdev

#1414 Deduplicate and rewrite Fast Compiles section
  content/learn/book/development-practices/fast-compiles.md
  content/learn/quick-start/getting-started/setup.md
Labels: S-Ready-For-Final-Review, A-Book, C-Content, A-Quick-Start

#1415 make the "Gentoo" header a link
  content/learn/book/getting-started/installation.md
Labels: A-Book, S-Needs-Review

#1404 Bump `code-validation` to Bevy 0.14.0-rc.2
  Cargo.lock
  code-validation/Cargo.toml
Labels: C-Enhancement, A-Build-System, S-Needs-Review, X-Uncontroversial

#1416 rename "App, Appbuilder, and World" => "Apps and Worlds"
  code-validation/src/lib.rs
  content/learn/book/getting-started/app-appbuilder-world.md
  content/learn/book/getting-started/apps-worlds.md
Labels: A-Book, C-Content, C-Correction, S-Needs-Review

#1419 Fixed FAQ to mention auto credits updates
  content/donate/faq/index.md
Labels: C-Correction, A-Foundation

#1420 Fixed casing for a migration guide title
  content/learn/migration-guides/0.12-to-0.13.md
Labels: A-Migration Guides

#1418 Virtual geometry release notes for 0.14
  content/news/draft-bevy-0.14/meshlets.png
  release-content/0.14/release-notes/10164_Meshlet_rendering_initial_feature.md
  release-content/0.14/release-notes/12755_Meshlet_continuous_LOD.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1421 Added style for kbd element
  sass/elements/_kbd.scss
  sass/site.scss
Labels: S-Ready-For-Final-Review, C-Webdev, D-Trivial

#1422 New primitives release notes
  release-content/0.14/release-notes/12508_Add_Triangle3d_primitive_to_bevy_mathprimitives.md
  release-content/0.14/release-notes/12688_Add_Tetrahedron_primitive_to_bevy_mathprimitives.md
  release-content/0.14/release-notes/13482_New_circular_primitives_Arc2d_CircularSector_CircularSegme.md
  release-content/0.14/release-notes/13501_Implement_Rhombus_2D_primitive.md
  release-content/0.14/release-notes/_release-notes.toml
  release-content/0.14/release-notes/new_math_primitives.md
Labels: A-Release-Notes

#1394 0.14 migration: Touch up SpriteSheetBundle deprecation section
  release-content/0.14/migration-guides/12218_Deprecate_SpriteSheetBundle_and_AtlasImageBundle.md
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Migration Guides

#1397 0.14 migration: Touch up bevy_utils re-exports section
  release-content/0.14/migration-guides/12313_Disentangle_bevy_utilsbevy_cores_reexported_dependencies.md
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Migration Guides

#1398 The Bevy of birds are migrating south for the summer
  release-content/0.14/migration-guides/11823_Immediately_apply_deferred_system_params_in_Systemrun.md
  release-content/0.14/migration-guides/11986_Remove_the_UpdateAssets_and_AssetEvents_schedules.md
  release-content/0.14/migration-guides/12038_fix_some_typos.md
  release-content/0.14/migration-guides/12105_Made_bevy_color_a_dependency_of_bevy_render.md
  release-content/0.14/migration-guides/12163_Migrate_from_LegacyColor_to_bevy_colorColor.md
  release-content/0.14/migration-guides/12164_Make_sysinfo_diagnostic_plugin_optional.md
  release-content/0.14/migration-guides/12234_Move_commands_module_into_bevyecsworld.md
  release-content/0.14/migration-guides/12302_Allow_setting_RenderAssetUsages_for_gLTF_meshes__materials.md
  release-content/0.14/migration-guides/12311_Remove_ComponentStorage_and_associated_types.md
  release-content/0.14/migration-guides/12314_Clean_up_type_registrations.md
  release-content/0.14/migration-guides/12512_Update_to_fixedbitset_05.md
  release-content/0.14/migration-guides/12526_Solve_some_oklaba_inconsistencies.md
  release-content/0.14/migration-guides/12550_Use_asyncfn_in_traits_rather_than_BoxedFuture.md
  release-content/0.14/migration-guides/12575_Color_maths_4.md
  release-content/0.14/migration-guides/12655_Removed_IntoAssedIdT_for_HandleT_as_mentioned_in_12600.md
  release-content/0.14/migration-guides/12709_Error_info_has_been_added_to_LoadStateFailed.md
  release-content/0.14/migration-guides/12827_Consolidate_RenderUiMaterials2d_into_RenderAssets.md
  release-content/0.14/migration-guides/13022_Make_AppExit_more_specific_about_exit_reason.md
  release-content/0.14/migration-guides/13080_Deprecate_dynamic_plugins.md
  release-content/0.14/migration-guides/13159_Improve_tracing_layer_customization.md
  release-content/0.14/migration-guides/13177_Make_AssetMetaCheck_a_field_on_the_asset_plugin.md
  release-content/0.14/migration-guides/13209_move_wgsl_color_operations_from_bevy_pbr_to_bevy_render.md
  release-content/0.14/migration-guides/13465_Make_LoadContext_use_the_builder_pattern_for_loading_depen.md
  release-content/0.14/migration-guides/13637_Move_state_installation_methods_from_bevy_app_to_bevy_stat.md
  release-content/0.14/migration-guides/9202_Refactor_App_and_SubApp_internals_for_better_separation.md
  release-content/0.14/migration-guides/_guides.toml
Labels: C-Content, A-Migration Guides, S-Needs-Review, X-Uncontroversial

#1417 It's migration monday! (30% done)
  release-content/0.14/migration-guides/11019_Allow_Commands_to_register_systems.md
  release-content/0.14/migration-guides/11426_Computed_State__Sub_States.md
  release-content/0.14/migration-guides/11986_Remove_the_UpdateAssets_and_AssetEvents_schedules.md
  release-content/0.14/migration-guides/12474_Remove_archetype_component_access_from_QueryState.md
  release-content/0.14/migration-guides/12476_Store_only_the_IDs_needed_for_Query_iteration.md
  release-content/0.14/migration-guides/12551_Remove_WorldCell.md
  release-content/0.14/migration-guides/12557_refactor_separate_out_PanicHandlerPlugin.md
  release-content/0.14/migration-guides/12847_Remove_stepping_from_default_features.md
  release-content/0.14/migration-guides/12936_Optimize_Event_Updates.md
  release-content/0.14/migration-guides/13044_Make_SystemParamnew_archetype_and_QueryStatenew_archetype_.md
  release-content/0.14/migration-guides/13080_Deprecate_dynamic_plugins.md
  release-content/0.14/migration-guides/13090_Better_SystemId_to_Entity_conversions.md
  release-content/0.14/migration-guides/13177_Make_AssetMetaCheck_a_field_on_the_asset_plugin.md
  release-content/0.14/migration-guides/13637_Move_state_installation_methods_from_bevy_app_to_bevy_stat.md
  release-content/0.14/migration-guides/_guides.toml
Labels: C-Content, A-Migration Guides, S-Needs-Review, X-Uncontroversial, D-Straightforward

#1423 It's migration translation Tuesday (34%)
  release-content/0.14/migration-guides/13216_Separate_state_crate.md
  release-content/0.14/migration-guides/13343_constrain_WorldQueryget_state_to_only_use_Components.md
  release-content/0.14/migration-guides/13442_constrain_WorldQueryinit_state_argument_to_ComponentInitia.md
  release-content/0.14/migration-guides/13594_Unify_transition_names_to_exited_and_entered.md
  release-content/0.14/migration-guides/13626_Combine_transition_systems_of_Substates.md
  release-content/0.14/migration-guides/_guides.toml
Labels: C-Content, A-Migration Guides, S-Needs-Review, X-Uncontroversial, D-Straightforward

#1426 Fix 13159 punctuation
  release-content/0.14/migration-guides/13159_Improve_tracing_layer_customization.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction, X-Uncontroversial, D-Trivial

#1427 0.14 migration: Small fixes for recent changes
  release-content/0.14/migration-guides/12476_Store_only_the_IDs_needed_for_Query_iteration.md
  release-content/0.14/migration-guides/12551_Remove_WorldCell.md
  release-content/0.14/migration-guides/12936_Optimize_Event_Updates.md
  release-content/0.14/migration-guides/13044_Make_SystemParamnew_archetype_and_QueryStatenew_archetype_.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1428 Release notes for hooks and observers
  release-content/0.14/release-notes/10756_hooks_and_observers.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1430 Render throttle notes
  release-content/0.14/release-notes/12622_Throttle_render_assets.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1432 glTF labels
  release-content/0.14/release-notes/13586_glTF_labels_add_enum_to_avoid_misspelling_and_keep_uptodat.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1431 Improve clarity on observers vs hooks
  release-content/0.14/release-notes/10756_hooks_and_observers.md
Labels: C-Correction, A-Release-Notes, S-Needs-Review

#1429 System builder release notes: we love systems
  release-content/0.14/release-notes/13123_Implement_a_SystemBuilder_for_building_SystemParams.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1438 Release Notes for `Transform::align`
  release-content/0.14/release-notes/12187_Alignment_API_for_Transforms.md
  release-content/0.14/release-notes/align-after-move.png
  release-content/0.14/release-notes/align-before-move.png
Labels: A-Release-Notes

#1437 Add code samples to hooks-and-observers release notes
  release-content/0.14/release-notes/10756_hooks_and_observers.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes

#1435 Async seek
  release-content/0.14/release-notes/12547_Add_AsyncSeek_trait_to_Reader_to_be_able_to_seek_inside_as.md
Labels: C-Content, A-Release-Notes, S-Waiting-On-Author

#1443 0.14 migration: Fix an error in colors table and add more colors
  release-content/0.14/migration-guides/12163_Migrate_from_LegacyColor_to_bevy_colorColor.md
Labels: A-Migration Guides, C-Correction

#1444 0.14 release: Fix unclosed code tag
  release-content/0.14/release-notes/13123_Implement_a_SystemBuilder_for_building_SystemParams.md
Labels: C-Bug, A-Release-Notes

#1445 0.14 release: Minor cleanup in upstreaming bevy color section
  release-content/0.14/release-notes/12013_Upstreaming_bevy_color.md
Labels: C-Correction, A-Release-Notes

#1446 Fix 0.14 release image locations
  content/news/draft-bevy-0.14/12135_Support_wireframes_for_2D_meshes.png
  content/news/draft-bevy-0.14/align-after-move.png
  content/news/draft-bevy-0.14/align-before-move.png
  content/news/draft-bevy-0.14/bevy_ui_outlines.png
  content/news/draft-bevy-0.14/custom_attributes_demo.png
  content/news/draft-bevy-0.14/exit_with_a_42.png
  content/news/draft-bevy-0.14/gizmos_line_joints.png
  content/news/draft-bevy-0.14/gizmos_line_styles.png
  content/news/draft-bevy-0.14/gizmos_rounded_cuboid.png
  content/news/draft-bevy-0.14/gizmos_rounded_rect.png
  content/news/draft-bevy-0.14/heart_extrusion.png
  content/news/draft-bevy-0.14/rep_nodes.png
  content/news/draft-bevy-0.14/rounded_borders.png
  content/news/draft-bevy-0.14/sampling_primitives.png
  content/news/draft-bevy-0.14/selected_extrusions.png
  content/news/draft-bevy-0.14/ui_image_background_color.png
Labels: C-Bug, A-Release-Notes

#1447 0.14 executor improvements
  release-content/0.14/release-notes/11906_Run_the_multithreaded_executor_at_the_end_of_each_system_t.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1436 Render layers
  release-content/0.14/release-notes/13317_12502_Remove_limit_on_RenderLayers.md
Labels: C-Content, A-Release-Notes, S-Waiting-On-Author

#1441 Add release notes for the animation graph feature
  release-content/0.14/release-notes/11989_Implement_the_AnimationGraph_allowing_for_multiple_animati.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1449 0.14 migration: Pretty up a few entries
  release-content/0.14/migration-guides/12012_Move_AlphaMode_into_bevy_render.md
  release-content/0.14/migration-guides/12018_Add_Direction3dA_and_move_direction_types_out_of_primitive.md
  release-content/0.14/migration-guides/12055_configure_surface_needs_to_be_on_the_main_thread_on_iOS.md
  release-content/0.14/migration-guides/12169_Add_an_index_argument_to_parallel_iteration_helpers_in_bev.md
Labels: A-Migration Guides

#1439 Add release notes for GPU frustum culling
  release-content/0.14/release-notes/12889_Implement_GPU_frustum_culling.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1452 Add spaces to match formatting by taplo in guide and notes generators
  generate-release/src/migration_guides.rs
  generate-release/src/release_notes.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Migration Guides, A-Release-Notes

#1455 Add migration notes for 12889 Implement GPU frustum culling
  release-content/0.14/migration-guides/12889_Implement_GPU_frustum_culling.md
  release-content/0.14/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1453 0.14: Improve titles and begin section reordering
  content/news/draft-bevy-0.14/index.md
  release-content/0.14/release-notes/New_gizmos_types.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1461 Clean up extrusions section of release notes
  release-content/0.14/release-notes/13270_Extrusion.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: C-Correction, A-Release-Notes, S-Needs-Review

#1462 Yeet BD103
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes, X-Uncontroversial, D-Trivial

#1442 Add release notes for screen-space reflections
  content/news/draft-bevy-0.14/no_ssr.png
  content/news/draft-bevy-0.14/ssr.png
  release-content/0.14/release-notes/13418_Implement_optin_sharp_screenspace_reflections_for_the_defe.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1460 add release notes for query iter sorts
  release-content/0.14/release-notes/13417_implement_the_full_set_of_sort_methods_on_QueryIter.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1464 Remove Wunder Software as a sponsor
  content/donate/individual-sponsors.toml
Labels: C-Correction, A-Foundation

#1466 🪽 🐦 🪽 - (44%)
  release-content/0.14/migration-guides/11989_Implement_the_AnimationGraph_allowing_for_multiple_animati.md
  release-content/0.14/migration-guides/12136_Replace_FromWorld_requirement_on_ReflectResource_and_refle.md
  release-content/0.14/migration-guides/12252_Gizmo_line_joints.md
  release-content/0.14/migration-guides/12394_Gizmo_line_styles.md
  release-content/0.14/migration-guides/12772_Moves_intern_and_label_modules_into_bevy_ecs.md
  release-content/0.14/migration-guides/12868_Deprecate_ReceivedCharacter.md
  release-content/0.14/migration-guides/12895_Make_some_ReflectComponentReflectBundle_methods_work_with_.md
  release-content/0.14/migration-guides/12997_multi_threaded_feature_rename.md
  release-content/0.14/migration-guides/13216_Separate_state_crate.md
  release-content/0.14/migration-guides/13261_More_gizmos_builders.md
  release-content/0.14/migration-guides/13438_Inconsistent_segmentsresolution_naming.md
  release-content/0.14/migration-guides/13534_Make_gizmos_take_primitives_by_ref.md
  release-content/0.14/migration-guides/13549_Generalize_component_reflection_to_operate_on_FilteredEnti.md
  release-content/0.14/migration-guides/13660_rename_touchpad_to_gesture_and_add_new_gestures.md
  release-content/0.14/migration-guides/13678_flush_key_input_cache_when_Bevy_loses_focus_Adopted.md
  release-content/0.14/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Straightforward

#1472 Fix typo in `ECS Hooks and Observers` section
  release-content/0.14/release-notes/10756_hooks_and_observers.md
Labels: C-Correction, A-Release-Notes, D-Trivial

#1471 🪄 Synchronize migration guide to 0.14.0-rc.4
  release-content/0.14/migration-guides/13186_Wgpu_020.md
  release-content/0.14/migration-guides/13419_Allow_mix_of_hdr_and_nonhdr_cameras_to_same_render_target.md
  release-content/0.14/migration-guides/13710_Made_Meshmerge_take_a_reference_of_Mesh.md
  release-content/0.14/migration-guides/14017_Make_default_behavior_for_BackgroundColor_and_BorderColor_.md
  release-content/0.14/migration-guides/_guides.toml
Labels: C-Content, A-Migration Guides, S-Waiting-On-Author, D-Straightforward

#1475 Migration guides to study / relax / work to (49%)
  release-content/0.14/migration-guides/12189_Rename_Direction2d3d_to_Dir23.md
  release-content/0.14/migration-guides/12574_Make_cardinal_splines_include_endpoints.md
  release-content/0.14/migration-guides/12686_Meshing_for_Triangle3d_primitive.md
  release-content/0.14/migration-guides/12747_Move_Point_out_of_cubic_splines_module_and_expand_it.md
  release-content/0.14/migration-guides/12757_Update_glam_version_requirement_from_025_to_027.md
  release-content/0.14/migration-guides/12796_Remove_VectorSpace_impl_on_Quat.md
  release-content/0.14/migration-guides/13087_Use_Vec3A_for_3D_bounding_volumes_and_raycasts.md
  release-content/0.14/migration-guides/13186_Wgpu_020.md
  release-content/0.14/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides

#1477 Remove Jondolf as author from some release notes
  release-content/0.14/release-notes/_release-notes.toml
Labels: A-Release-Notes, D-Trivial

#1470 Skip empty migration guides
  generate-release/src/migration_guides.rs
Labels: C-Bug, A-Migration Guides, S-Needs-Review, D-Trivial
