Repository bevyengine/bevy-website, pull requests merged in 2024-07, with the labels that each got.

#1481 Tidy up release notes for PR 12747 and cubic splines
  release-content/0.14/release-notes/12747_Move_Point_out_of_cubic_splines_module_and_expand_it.md
Labels: C-Correction, A-Release-Notes

#1467 Write pipeline diagnostics release notes
  release-content/0.14/release-notes/9135_Add_pipeline_statistics.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1486 Condense sections on gizmos
  release-content/0.14/release-notes/11948_Add_Rounded_box_gizmos.md
  release-content/0.14/release-notes/New_gizmos_types.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: C-Correction, A-Release-Notes, S-Needs-Review

#1482 Improve code example for observers
  release-content/0.14/release-notes/10756_hooks_and_observers.md
Labels: C-Correction, A-Release-Notes, S-Needs-Review

#1487 Add motivation to deprecation of `SpriteSheetBundle`
  release-content/0.14/migration-guides/12218_Deprecate_SpriteSheetBundle_and_AtlasImageBundle.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1488 A few more migration guides (63%)
  release-content/0.14/migration-guides/11698_Prefer_UVec2_when_working_with_texture_dimensions.md
  release-content/0.14/migration-guides/11766_Fix_CameraProjectionPlugin_not_implementing_Plugin_in_some.md
  release-content/0.14/migration-guides/11904_Add_support_for_KHR_texture_transform.md
  release-content/0.14/migration-guides/11939_rename_Camera3dBundles_dither_field_to_deband_dither_to_al.md
  release-content/0.14/migration-guides/12012_Move_AlphaMode_into_bevy_render.md
  release-content/0.14/migration-guides/12024_reflect_treat_proxy_types_correctly_when_serializing.md
  release-content/0.14/migration-guides/12711_Fix_Ord_and_PartialOrd_differing_for_FloatOrd_and_optimize.md
  release-content/0.14/migration-guides/12715_Fix_TypeRegistry_use_in_dynamic_scene.md
  release-content/0.14/migration-guides/12721_bevy_reflect_Rename_UntypedReflectDeserializer_to_ReflectD.md
  release-content/0.14/migration-guides/12732_Move_FloatOrd_into_bevy_math.md
  release-content/0.14/migration-guides/12757_Update_glam_version_requirement_from_025_to_027.md
  release-content/0.14/migration-guides/12986_Make_Transformrotate_axis_and_Transformrotate_local_axis_u.md
  release-content/0.14/migration-guides/13182_Implement_Reflect_for_ResultT_E_as_enum.md
  release-content/0.14/migration-guides/13264_Use_Dir3_for_local_axis_methods_in_GlobalTransform.md
  release-content/0.14/migration-guides/13411_Common_MeshBuilder_trait.md
  release-content/0.14/migration-guides/13580_Add_subdivisions_to_PlaneMeshBuilder.md
  release-content/0.14/migration-guides/13605_Additional_options_to_mesh_primitives.md
  release-content/0.14/migration-guides/5781_bevy_reflect_Recursive_registration.md
  release-content/0.14/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Straightforward

#1485 Remove dead sections from 0.14 release notes
  release-content/0.14/release-notes/12205_Get_Bevy_building_for_WebAssembly_with_multithreading.md
  release-content/0.14/release-notes/12453_Improve_performance_by_binning_together_opaque_items_inste.md
  release-content/0.14/release-notes/12829_Add_methods_iter_resources_and_iter_resources_mut.md
  release-content/0.14/release-notes/12904_Improve_par_iter_and_Parallel.md
  release-content/0.14/release-notes/12936_Optimize_Event_Updates.md
  release-content/0.14/release-notes/13199_Add_BufferVec_an_higherperformance_alternative_to_StorageB.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: C-Correction, A-Release-Notes, S-Needs-Review

#1490 Another batch of migration guides (76%)
  release-content/0.14/migration-guides/11956_Add_random_shader_utils_fix_cluster_debug_visualization.md
  release-content/0.14/migration-guides/12216_Intern_mesh_vertex_buffer_layouts_so_that_we_dont_have_to_.md
  release-content/0.14/migration-guides/12250_Batching_replace_GpuArrayBufferIndexindex_with_a_u32.md
  release-content/0.14/migration-guides/12526_Solve_some_oklaba_inconsistencies.md
  release-content/0.14/migration-guides/12538_Add_setting_to_enabledisable_shadows_to_MaterialPlugin.md
  release-content/0.14/migration-guides/12559_Remove_needless_color_specializaion_for_SpritePipeline.md
  release-content/0.14/migration-guides/12649_Implement_maths_and_Animatable_for_Srgba.md
  release-content/0.14/migration-guides/12773_Generate_MeshUniforms_on_the_GPU_via_compute_shader_where_.md
  release-content/0.14/migration-guides/12791_Microoptimize_queue_material_meshes_primarily_to_remove_bi.md
  release-content/0.14/migration-guides/12811_remove_DeterministicRenderingConfig.md
  release-content/0.14/migration-guides/12862_Disable_RAY_QUERY_and_RAY_TRACING_ACCELERATION_STRUCTURE_b.md
  release-content/0.14/migration-guides/12889_Implement_GPU_frustum_culling.md
  release-content/0.14/migration-guides/12902_Add_previous_view_uniformsinverse_view.md
  release-content/0.14/migration-guides/12910_Implement_percentagecloser_filtering_PCF_for_point_lights.md
  release-content/0.14/migration-guides/12917_flipping_texture_coords_methods_has_been_added_to_the_Stan.md
  release-content/0.14/migration-guides/_guides.toml
Labels: C-Content, A-Migration Guides

#1492 Animated mesh motion vectors section
  release-content/0.14/release-notes/13572_Implement_motion_vectors_and_TAA_for_skinned_meshes_and_me.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1493 It's done (100%)
  release-content/0.14/migration-guides/11278_Fix_fit_canvas_to_parent.md
  release-content/0.14/migration-guides/11808_Fix_CameraProjection_panic_and_improve_CameraProjectionPlu.md
  release-content/0.14/migration-guides/12055_configure_surface_needs_to_be_on_the_main_thread_on_iOS.md
  release-content/0.14/migration-guides/12169_Add_an_index_argument_to_parallel_iteration_helpers_in_bev.md
  release-content/0.14/migration-guides/12313_Disentangle_bevy_utilsbevy_cores_reexported_dependencies.md
  release-content/0.14/migration-guides/12582_Divide_the_single_VisibleEntities_list_into_separate_lists.md
  release-content/0.14/migration-guides/12666_FIX12527_Changes_to_make_serde_optional_for_bevy_color.md
  release-content/0.14/migration-guides/12698_Restore_pre_0131_Root_Node_Layout_behavior.md
  release-content/0.14/migration-guides/12749_Clean_up_WinitWindowsremove_window.md
  release-content/0.14/migration-guides/12945_Fix_rendering_of_sprites_text_and_meshlets_after_12582.md
  release-content/0.14/migration-guides/12954_Expose_desired_maximum_frame_latency_through_window_creati.md
  release-content/0.14/migration-guides/12978_Introduce_a_WindowWrapper_to_extend_the_lifetime_of_the_wi.md
  release-content/0.14/migration-guides/12982_Clean_up_2d_render_phases.md
  release-content/0.14/migration-guides/13031_Implement_clearcoat_per_the_Filament_and_the_KHR_materials.md
  release-content/0.14/migration-guides/13121_Implement_filmic_color_grading.md
  release-content/0.14/migration-guides/13199_Add_BufferVec_an_higherperformance_alternative_to_StorageB.md
  release-content/0.14/migration-guides/13236_Ensure_clean_exit.md
  release-content/0.14/migration-guides/13238_More_idiomatic_texture_atlas_builder.md
  release-content/0.14/migration-guides/13317_12502_Remove_limit_on_RenderLayers.md
  release-content/0.14/migration-guides/13350_Add_emissive_exposure_weight_to_the_StandardMaterial.md
  release-content/0.14/migration-guides/13452_Rename_Rect_inset_method_to_inflate.md
  release-content/0.14/migration-guides/13462_Fix_UI_elements_randomly_not_appearing_after_13277.md
  release-content/0.14/migration-guides/13489_Normalise_matrix_naming.md
  release-content/0.14/migration-guides/13603_Updates_default_Text_font_size_to_24px.md
  release-content/0.14/migration-guides/13640_Move_clusteringrelated_types_and_functions_into_their_own_.md
  release-content/0.14/migration-guides/13654_Rename_point_light_to_clusterable_object_in_cluster_contex.md
  release-content/0.14/migration-guides/_guides.toml
  release-content/0.14/release-notes/13366_fix_upgrade_to_winit_v030.md
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Straightforward

#1497 Update _release-notes.toml
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes

#1495 First review pass: observers changes, various tweaks and fixes
  release-content/0.14/release-notes/10756_hooks_and_observers.md
  release-content/0.14/release-notes/11659_bevy_reflect_Custom_attributes.md
  release-content/0.14/release-notes/11906_Run_the_multithreaded_executor_at_the_end_of_each_system_t.md
  release-content/0.14/release-notes/12135_Support_wireframes_for_2D_meshes.md
  release-content/0.14/release-notes/12394_Gizmo_line_styles.md
  release-content/0.14/release-notes/12484_Uniform_point_sampling_methods_for_some_primitive_shapes.md
  release-content/0.14/release-notes/12547_Add_AsyncSeek_trait_to_Reader_to_be_able_to_seek_inside_as.md
  release-content/0.14/release-notes/12747_Move_Point_out_of_cubic_splines_module_and_expand_it.md
  release-content/0.14/release-notes/12792_Implement_Auto_Exposure_plugin.md
  release-content/0.14/release-notes/12916_Implement_visibility_ranges_also_known_as_hierarchical_lev.md
  release-content/0.14/release-notes/13022_Make_AppExit_more_specific_about_exit_reason.md
  release-content/0.14/release-notes/13057_Implement_volumetric_fog_and_volumetric_lighting_also_know.md
  release-content/0.14/release-notes/13123_Implement_a_SystemBuilder_for_building_SystemParams.md
  release-content/0.14/release-notes/13162_Add_a_process_for_working_groups.md
  release-content/0.14/release-notes/13200_Add_UV_channel_selection_to_StandardMaterial.md
  release-content/0.14/release-notes/13270_Extrusion.md
  release-content/0.14/release-notes/13317_12502_Remove_limit_on_RenderLayers.md
  release-content/0.14/release-notes/13347_Add_on_unimplemented_Diagnostics_to_Most_Public_Traits.md
  release-content/0.14/release-notes/13366_fix_upgrade_to_winit_v030.md
  release-content/0.14/release-notes/13418_Implement_optin_sharp_screenspace_reflections_for_the_defe.md
  release-content/0.14/release-notes/13450_Implement_PBR_anisotropy_per_KHR_materials_anisotropy.md
  release-content/0.14/release-notes/13453_add_handling_of_all_missing_gltf_extras_scene_mesh__materi.md
  release-content/0.14/release-notes/13489_Normalise_matrix_naming.md
  release-content/0.14/release-notes/13653_Added_CompassQuadrant_and_CompassOctant_as_per_13647.md
  release-content/0.14/release-notes/5781_bevy_reflect_Recursive_registration.md
  release-content/0.14/release-notes/9135_Add_pipeline_statistics.md
  release-content/0.14/release-notes/9924_PerObject_Motion_Blur.md
  release-content/0.14/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes

#1491 initial pass at sorted-and-binned render phase items
  release-content/0.14/migration-guides/12453_13277_14029_sorted_and_binned_render_phase_items.md
  release-content/0.14/migration-guides/12453_Improve_performance_by_binning_together_opaque_items_inste.md
  release-content/0.14/migration-guides/13277_Make_render_phases_render_world_resources_instead_of_compo.md
  release-content/0.14/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides

#1499 Editing pass for the migration guide
  content/learn/migration-guides/0.13-to-0.14.md
  release-content/0.14/migration-guides/12314_Clean_up_type_registrations.md
  release-content/0.14/migration-guides/12547_Add_AsyncSeek_trait_to_Reader_to_be_able_to_seek_inside_as.md
  release-content/0.14/migration-guides/12551_Remove_WorldCell.md
  release-content/0.14/migration-guides/12666_FIX12527_Changes_to_make_serde_optional_for_bevy_color.md
  release-content/0.14/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1501 Fix 0.14 migration guide being before the introduction
  content/learn/migration-guides/introduction.md
Labels: C-Bug, A-Migration Guides, S-Needs-Review, D-Trivial

#1506 Third 0.14 editorial pass
  content/news/draft-bevy-0.14/12135_Support_wireframes_for_2D_meshes.png
  content/news/draft-bevy-0.14/index.md
  release-content/0.14/release-notes/10164_Meshlet_rendering_initial_feature.md
  release-content/0.14/release-notes/10756_hooks_and_observers.md
  release-content/0.14/release-notes/13123_Implement_a_SystemBuilder_for_building_SystemParams.md
  release-content/0.14/release-notes/13162_Add_a_process_for_working_groups.md
  release-content/0.14/release-notes/13423_Implement_subpixel_morphological_antialiasing_or_SMAA.md
  release-content/0.14/release-notes/13489_Normalise_matrix_naming.md
  release-content/0.14/release-notes/9135_Add_pipeline_statistics.md
  release-content/0.14/release-notes/_release-notes.toml
  templates/shortcodes/support_bevy.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes

#1511 Correct the ordering of hooks vs observers
  release-content/0.14/release-notes/10756_hooks_and_observers.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes

#1513 Add images for SMAA
  content/news/draft-bevy-0.14/no_aa.jpg
  content/news/draft-bevy-0.14/smaa.jpg
  release-content/0.14/release-notes/13423_Implement_subpixel_morphological_antialiasing_or_SMAA.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1508 0.14: cover image
  content/news/draft-bevy-0.14/cover.jpg
  content/news/draft-bevy-0.14/index.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1515 Fix out-of-date migration for decoupling `BackgroundColor` from `UiImage`
  release-content/0.14/migration-guides/11165_Decouple_BackgroundColor_from_UiImage.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1514 Small improvements and consistency changes for 11426 migration
  release-content/0.14/migration-guides/11426_on_enter_startup_states.md
  release-content/0.14/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction, D-Trivial

#1517 generate contributors
  release-content/0.14/contributors.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1516 generate changelog
  content/news/draft-bevy-0.14/index.md
  release-content/0.14/changelog.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1520 Release 0.14
  content/news/2024-07-04-bevy-0.14/12135_Support_wireframes_for_2D_meshes.jpg
  content/news/2024-07-04-bevy-0.14/after_pcf.jpg
  content/news/2024-07-04-bevy-0.14/align-after-move.jpg
  content/news/2024-07-04-bevy-0.14/align-before-move.jpg
  content/news/2024-07-04-bevy-0.14/auto_exposure.mp4
  content/news/2024-07-04-bevy-0.14/axes_gizmo.jpg
  content/news/2024-07-04-bevy-0.14/basic_nodes.jpg
  content/news/2024-07-04-bevy-0.14/before_pcf.jpg
  content/news/2024-07-04-bevy-0.14/bevy_no_rep.jpg
  content/news/2024-07-04-bevy-0.14/bevy_rep.jpg
  content/news/2024-07-04-bevy-0.14/bevy_ui_outlines.jpg
  content/news/2024-07-04-bevy-0.14/bokeh_dof.jpg
  content/news/2024-07-04-bevy-0.14/cover.jpg
  content/news/2024-07-04-bevy-0.14/custom_attributes_demo.jpg
  content/news/2024-07-04-bevy-0.14/exit_with_a_42.jpg
  content/news/2024-07-04-bevy-0.14/filmic_color_grading.jpg
  content/news/2024-07-04-bevy-0.14/gizmos_line_joints.jpg
  content/news/2024-07-04-bevy-0.14/gizmos_line_styles.jpg
  content/news/2024-07-04-bevy-0.14/gizmos_rounded_cuboid.jpg
  content/news/2024-07-04-bevy-0.14/gizmos_rounded_rect.jpg
  content/news/2024-07-04-bevy-0.14/grid_gizmos.jpg
  content/news/2024-07-04-bevy-0.14/heart_extrusion.jpg
  content/news/2024-07-04-bevy-0.14/index.md
  content/news/2024-07-04-bevy-0.14/light_gizmos.jpg
  content/news/2024-07-04-bevy-0.14/many_bunnies.mp4
  content/news/2024-07-04-bevy-0.14/motion_blur_cars.mp4
  content/news/2024-07-04-bevy-0.14/no_aa.jpg
  content/news/2024-07-04-bevy-0.14/no_dof.jpg
  content/news/2024-07-04-bevy-0.14/no_ssr.jpg
  content/news/2024-07-04-bevy-0.14/rep_nodes.jpg
  content/news/2024-07-04-bevy-0.14/rounded_borders.jpg
  content/news/2024-07-04-bevy-0.14/sampling_primitives.jpg
  content/news/2024-07-04-bevy-0.14/selected_extrusions.jpg
  content/news/2024-07-04-bevy-0.14/smaa.jpg
  content/news/2024-07-04-bevy-0.14/ssr.jpg
  content/news/2024-07-04-bevy-0.14/ui_image_background_color.jpg
  content/news/2024-07-04-bevy-0.14/uv_channel_selection.jpg
  content/news/2024-07-04-bevy-0.14/with_anisotropy.jpg
  content/news/2024-07-04-bevy-0.14/with_volumetric_fog.jpg
  content/news/2024-07-04-bevy-0.14/without_anisotropy.jpg
  content/news/2024-07-04-bevy-0.14/without_volumetric_fog.jpg
  release-content/0.14/release-notes/10164_Meshlet_rendering_initial_feature.md
  release-content/0.14/release-notes/11165_Decouple_BackgroundColor_from_UiImage.md
  release-content/0.14/release-notes/11426_Computed_States__Sub_States.md
  release-content/0.14/release-notes/11823_Immediately_apply_deferred_system_params_in_Systemrun.md
  release-content/0.14/release-notes/12013_Upstreaming_bevy_color.md
  release-content/0.14/release-notes/12547_Add_AsyncSeek_trait_to_Reader_to_be_able_to_seek_inside_as.md
  release-content/0.14/release-notes/12916_Implement_visibility_ranges_also_known_as_hierarchical_lev.md
  release-content/0.14/release-notes/13057_Implement_volumetric_fog_and_volumetric_lighting_also_know.md
  release-content/0.14/release-notes/13270_Extrusion.md
  release-content/0.14/release-notes/13586_glTF_labels_add_enum_to_avoid_misspelling_and_keep_uptodat.md
  release-content/0.14/release-notes/9135_Add_pipeline_statistics.md
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1525 Update Bevy Quickstart to 0.14
  content/learn/quick-start/getting-started/_index.md
  content/learn/quick-start/getting-started/setup.md
Labels: S-Ready-For-Final-Review, C-Content, A-Quick-Start, D-Trivial

#1524 Add aspect ratio to news images
  templates/news-page.html
Labels: A-News, C-Webdev, S-Needs-Review, D-Trivial

#1531 Small typos and fixes for 0.14 release notes
  release-content/0.14/release-notes/10756_hooks_and_observers.md
  release-content/0.14/release-notes/10973_Contextually_clearing_gizmos.md
  release-content/0.14/release-notes/12394_Gizmo_line_styles.md
  release-content/0.14/release-notes/12747_Move_Point_out_of_cubic_splines_module_and_expand_it.md
  release-content/0.14/release-notes/13270_Extrusion.md
Labels: A-News, C-Correction, S-Needs-Review, D-Trivial

#1535 Fix typos in meshlet section
  release-content/0.14/release-notes/10164_Meshlet_rendering_initial_feature.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes, D-Trivial

#1539 A few small migration guide fixes
  release-content/0.14/migration-guides/10839_Generalised_ECS_reactivity_with_Observers.md
  release-content/0.14/migration-guides/13637_Move_state_installation_methods_from_bevy_app_to_bevy_stat.md
  release-content/0.14/migration-guides/_guides.toml
Labels: A-Migration Guides, C-Correction, S-Needs-Review, D-Trivial

#1538 Explain how to optimize release builds
  content/learn/quick-start/getting-started/setup.md
Labels: C-Content, S-Needs-Review, D-Straightforward

#1541 Update index.md
  content/news/2024-07-04-bevy-0.14/index.md
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1542 Fix header level of "Advanced Wasm optimizations"
  content/learn/quick-start/getting-started/setup.md
Labels: A-Book, C-Correction, D-Trivial

#1522 Mention how to run doctests on Windows when using dynamic linking
  content/learn/quick-start/getting-started/setup.md
Labels: C-Bug, S-Ready-For-Final-Review, A-Build-System, A-Quick-Start, D-Straightforward

#1523 Add section for cranelift
  content/learn/quick-start/getting-started/setup.md
Labels: S-Ready-For-Final-Review, A-Build-System, C-Usability, D-Straightforward

#1503 Mention how to disable trace logging
  content/learn/quick-start/getting-started/setup.md
Labels: S-Ready-For-Final-Review, A-Quick-Start, X-Contentious, D-Straightforward

#1544 Fix typo
  content/learn/quick-start/getting-started/setup.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Quick-Start, D-Trivial

#1546 Fix typo in release notes
  release-content/0.14/release-notes/11426_Computed_States__Sub_States.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Release-Notes

#1434 Shader code display
  .github/workflows/ci.yml
  templates/example-webgpu.html
  templates/example.html
Labels: S-Ready-For-Final-Review, C-Webdev, A-Examples

#1552 Fix broken contributing page link in quick start introduction
  content/learn/quick-start/introduction.md
Labels: C-Correction, A-Quick-Start

#1553 Update optimization suggestions based on benchmark
  content/learn/quick-start/getting-started/setup.md
Labels: C-Content, A-Quick-Start, S-Needs-Review

#1550 Fix migration guide related to `App`
  release-content/0.14/migration-guides/13022_Make_AppExit_more_specific_about_exit_reason.md
  release-content/0.14/migration-guides/9202_Refactor_App_and_SubApp_internals_for_better_separation.md
Labels: A-Migration Guides, C-Correction, S-Needs-Review, D-Trivial

#1547 Automatically run `oxipng` on example screenshots
  .github/workflows/update-screenshots.yml
Labels: S-Ready-For-Final-Review, A-Examples, C-Automation

#1560 Run `cargo-update` and bump `bevy` in `code-validation`
  Cargo.lock
  code-validation/Cargo.toml
Labels: S-Ready-For-Final-Review, A-Build-System, dependencies, X-Uncontroversial, D-Straightforward

#1564 Deprecate legacy sponsors section
  content/donate/individual-sponsors.toml
  templates/donate.html
  templates/index.html
  templates/individual-sponsors.html
Labels: S-Ready-For-Final-Review, A-Foundation

#1568 Remove remaining reference to legacy sponsors page
  content/donate/faq/index.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Foundation, D-Trivial

#1561 Sort assets that use the latest Bevy version first
  Cargo.lock
  generate-assets/Cargo.toml
  generate-assets/src/bin/generate.rs
  generate-assets/src/lib.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Assets

#1569 Donation FAQ: Correct expected update time for donation page
  content/donate/faq/index.md
Labels: C-Correction, A-Foundation, S-Needs-Review

#1571 Fix clippy lints for Rust 1.80
  code-validation/src/lib.rs
  generate-assets/src/lib.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Book, D-Trivial

#1570 0.13 migration: Fix canvas size css
  content/learn/migration-guides/0.12-to-0.13.md
Labels: C-Webdev, A-Migration Guides, C-Correction

#1574 Mention in migration guide 13317 that `Copy` trait is no longer implemented on `RenderLayers`
  release-content/0.14/migration-guides/13317_12502_Remove_limit_on_RenderLayers.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#1575 Add contextually clearing gizmos Migration Guide for 0.13 to 0.14
  release-content/0.14/migration-guides/10973_Contextually_clearing_gizmos.md
  release-content/0.14/migration-guides/_guides.toml
Labels: C-Content, A-Migration Guides, S-Needs-Review

#1573 Fix 13366 release note `window/custom_user_event` link
  release-content/0.14/release-notes/13366_fix_upgrade_to_winit_v030.md
Labels: C-Correction, A-Release-Notes, S-Needs-Review

#1576 Declutter Quick Start Getting Started Setup Page
  content/learn/quick-start/getting-started/setup.md
  sass/elements/_details.scss
Labels: S-Ready-For-Final-Review, C-Content, C-Usability, A-Quick-Start

#1578 Enhance learning material code examples validation and formatting
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  code-validation/Cargo.toml
  code-validation/README.md
  code-validation/src/lib.rs
  content/learn/quick-start/getting-started/apps.md
  content/learn/quick-start/getting-started/ecs.md
  content/learn/quick-start/getting-started/plugins.md
  content/learn/quick-start/getting-started/resources.md
  content/learn/quick-start/plugin-development.md
  learning-code-examples/Cargo.toml
  learning-code-examples/README.md
  learning-code-examples/examples/quick-start/generic_plugin.rs
  learning-code-examples/examples/quick-start/getting_started_v1.rs
  learning-code-examples/examples/quick-start/getting_started_v10.rs
  learning-code-examples/examples/quick-start/getting_started_v2.rs
  learning-code-examples/examples/quick-start/getting_started_v3.rs
  learning-code-examples/examples/quick-start/getting_started_v4.rs
  learning-code-examples/examples/quick-start/getting_started_v5.rs
  learning-code-examples/examples/quick-start/getting_started_v6.rs
  learning-code-examples/examples/quick-start/getting_started_v7.rs
  learning-code-examples/examples/quick-start/getting_started_v8.rs
  learning-code-examples/examples/quick-start/getting_started_v9.rs
  learning-code-examples/examples/quick-start/mock_entity.rs
  learning-code-examples/examples/quick-start/position_ecs.rs
  learning-code-examples/validate_examples.sh
  templates/shortcodes/file_code_block.html
  templates/shortcodes/file_code_block.md
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Book, C-Usability, A-Quick-Start

#1579 Change generate-release to use a better path to release-content
  generate-release/src/main.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Build-System, C-Usability, C-Automation

#1562 Support `crate` field for Bevy Assets
  generate-assets/src/lib.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Assets

#1580 Add introduction page to Contributing Guide
  content/contributing/_index.md
  content/contributing/getting-started/_index.md
  content/contributing/introduction.md
Labels: S-Ready-For-Final-Review, C-Content, A-Contributing-Guide, D-Straightforward
