Repository bevyengine/bevy-website, pull requests merged in 2024-01, with the labels that each got.

#832 add version filter to assets
  sass/pages/_assets.scss
  static/assets.js
  templates/assets.html
Labels: C-Enhancement, A-Assets

#840 ignore http errors when loading assets
  static/tools.js
Labels: A-Examples

#845 Docs/mut query
  content/learn/book/getting-started/ecs/_index.md
Labels: S-Ready-For-Final-Review, A-Book, C-Content

#848 Add plugin development chapter to book
  content/learn/book/contributing/_index.md
  content/learn/book/next-steps/_index.md
  content/learn/book/plugin-development/_index.md
  content/learn/book/troubleshooting/_index.md
Labels: S-Ready-For-Final-Review, A-Book, C-Content

#860 Fix minor typo
  content/learn/book/contributing/_index.md
Labels: A-Book, C-Content

#864 Changed 'two' to 'to'
  content/learn/book/getting-started/ecs/_index.md
Labels: C-Bug, A-Book

#882 fixed typo in setup section
  content/learn/book/getting-started/setup/_index.md
Labels: A-Book, A-Correction

#880 Change current book to quick start guide
  content/learn/links.toml
  content/learn/quick-start/_index.md
  content/learn/quick-start/contributing/_index.md
  content/learn/quick-start/getting-started/plugins/_index.md
  content/learn/quick-start/getting-started/setup/_index.md
  content/learn/quick-start/introduction/_index.md
  content/learn/quick-start/next-steps/_index.md
  content/learn/quick-start/plugin-development/_index.md
  content/news/2020-08-10-introducing-bevy/index.md
  content/news/2020-09-19-bevy-0.2/index.md
  content/news/2020-11-03-bevy-0.3/index.md
  content/news/2020-12-19-bevy-0.4/index.md
  content/news/2021-04-06-bevy-0.5/index.md
  content/news/2021-08-10-bevys-first-birthday/index.md
  content/news/2022-01-08-bevy-0.6/index.md
  content/news/2022-04-15-bevy-0.7/index.md
  content/news/2022-07-30-bevy-0.8/index.md
  content/news/2022-08-10-bevys-second-birthday/index.md
  content/news/2022-11-12-bevy-0.9/index.md
  content/news/2023-03-06-bevy-0.10/index.md
  content/news/2023-05-17-bevy-webgpu/index.md
  content/news/2023-07-09-bevy-0.11/index.md
  content/news/2023-08-10-bevys-third-birthday/index.md
  content/news/2023-09-21-community-reflection-on-bevys-third-year/index.md
  content/news/2023-11-04-bevy-0.12/index.md
  templates/layouts/base.html
Labels: A-Book

#884 Update untyped handle usage
  content/learn/migration-guides/0.11-0.12/_index.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, A-Correction

#866 Add landing page animation feature
  static/assets/fox.webp
  templates/index.html
Labels: A-Home

#886 Implement todo shortcode
  content/learn/book/assets/_index.md
  content/learn/book/assets/custom-assets/_index.md
  content/learn/book/assets/hot-reloading/_index.md
  content/learn/book/assets/loading-assets/_index.md
  content/learn/book/assets/scenes-reflection/_index.md
  content/learn/book/assets/working-with-handles/_index.md
  content/learn/book/audio/_index.md
  content/learn/book/audio/audio-basics/_index.md
  content/learn/book/development-practices/_index.md
  content/learn/book/development-practices/boilerplate-reduction/_index.md
  content/learn/book/development-practices/error-handling/_index.md
  content/learn/book/development-practices/fast-compiles/_index.md
  content/learn/book/development-practices/organizing-your-code/_index.md
  content/learn/book/development-practices/testing/_index.md
  content/learn/book/ecs/exclusive-world-access/_index.md
  content/learn/book/ecs/resources/_index.md
  content/learn/book/game-logic/_index.md
  content/learn/book/game-logic/async-tasks/_index.md
  content/learn/book/game-logic/custom-runners-headless-operations/_index.md
  content/learn/book/game-logic/events/_index.md
  content/learn/book/game-logic/run-criteria/_index.md
  content/learn/book/game-logic/states/_index.md
  content/learn/book/game-logic/system-ordering/_index.md
  content/learn/book/game-logic/time-timers/_index.md
  content/learn/book/graphics/2d/_index.md
  content/learn/book/graphics/2d/sprite-sheets/_index.md
  content/learn/book/graphics/2d/sprites/_index.md
  content/learn/book/graphics/3d/_index.md
  content/learn/book/graphics/3d/meshes/_index.md
  content/learn/book/graphics/3d/pbr/_index.md
  content/learn/book/graphics/_index.md
  content/learn/book/graphics/cameras/_index.md
  content/learn/book/graphics/parent-child-hierarchy/_index.md
  content/learn/book/graphics/rendering-internals/_index.md
  content/learn/book/graphics/rendering-internals/shader-basics/_index.md
  content/learn/book/graphics/transforms/_index.md
  content/learn/book/graphics/windows/_index.md
  content/learn/book/input/_index.md
  content/learn/book/input/basics/_index.md
  content/learn/book/input/gamepad/_index.md
  content/learn/book/input/keyboard/_index.md
  content/learn/book/input/mouse/_index.md
  content/learn/book/input/touch/_index.md
  content/learn/book/performance-optimizations/_index.md
  content/learn/book/performance-optimizations/component-storage/_index.md
  content/learn/book/performance-optimizations/diagnostics-benchmarking/_index.md
  content/learn/book/performance-optimizations/indexes/_index.md
  content/learn/book/performance-optimizations/parallel-iteration/_index.md
  content/learn/book/platforms/_index.md
  content/learn/book/platforms/android/_index.md
  content/learn/book/platforms/ios/_index.md
  content/learn/book/platforms/web/_index.md
  content/learn/book/ui/_index.md
  content/learn/book/ui/basics/_index.md
  sass/components/_todo.scss
  sass/site.scss
  templates/shortcodes/todo.html
Labels: A-Book, C-Usability

#889 Clean up `new-book` before final merging into `main`
  CONTRIBUTING.md
  code-validation/src/lib.rs
  content/learn/book/assets/_index.md
  content/learn/book/audio/_index.md
  content/learn/book/development-practices/_index.md
  content/learn/book/ecs/entities-components/_index.md
  content/learn/book/game-logic/_index.md
  content/learn/book/getting-started/_index.md
  content/learn/book/graphics/_index.md
  content/learn/book/input/_index.md
  content/learn/book/performance-optimizations/_index.md
  content/learn/book/platforms/_index.md
  content/learn/book/ui/_index.md
  content/learn/quick-start/contributing/docs/_index.md
  content/learn/quick-start/getting-started/apps/_index.md
  content/learn/quick-start/getting-started/ecs/_index.md
  content/learn/quick-start/getting-started/plugins/_index.md
  content/learn/quick-start/getting-started/resources/_index.md
  content/learn/quick-start/getting-started/setup/_index.md
  content/learn/quick-start/introduction/_index.md
  content/learn/quick-start/plugin-development/_index.md
Labels: A-Book, C-Content
