Repository bevyengine/bevy-website, pull requests merged in 2024-10, with the labels that each got.

#1645 Fix warning on `actions-without-meeting` minutes
  .github/workflows/ci.yml
  content/foundation/meeting-minutes/actions-without-meeting/index.md
Labels: C-Bug, A-Foundation, S-Needs-Review, D-Trivial

#1642 Changed public to private comment and minifyed HTML
  config.toml
  templates/sponsors.html
Labels: C-Bug, S-Ready-For-Final-Review, C-Webdev

#1648 Remove corporate stripe note
  templates/donate.html
Labels: C-Correction

#1646 Add Meta category to triage scheme
  content/learn/contribute/reference/triage.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Contributing-Guide, D-Straightforward

#1650 Improve `generate-release` workflow involving editing and merging notes and guides
  Cargo.lock
  content/learn/contribute/project-information/release-process.md
  generate-release/Cargo.toml
  generate-release/README.md
  generate-release/src/migration_guides.rs
  generate-release/src/release_notes.rs
  release-content/0.14/migration-guides/_guides.toml
  release-content/0.14/release-notes/_release-notes.toml
  sass/pages/_migration_guide.scss
  templates/shortcodes/migration_guides.md
  templates/shortcodes/release_notes.md
Labels: S-Ready-For-Final-Review, C-Usability, A-Migration Guides, C-Code Quality, A-Release-Notes, C-Automation, D-Straightforward

#1652 Change contributors shortcode styling so it's more compact
  sass/components/_contributors.scss
  sass/site.scss
  templates/shortcodes/contributors.md
Labels: S-Ready-For-Final-Review, C-Webdev, A-Release-Notes, D-Straightforward

#1644 Write in a alternative logo-title if name is not given
  templates/sponsors.html
Labels: S-Ready-For-Final-Review, C-Webdev, A-Foundation, D-Trivial

#1726 Add stub for required components
  release-content/0.15/release-notes/14791_Required_Components.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: C-Content, A-Release-Notes, S-Needs-Review, D-Trivial

#1727 Remove unwarranted release note stubs
  release-content/0.15/release-notes/13889_Make_Tasks_functional_on_WASM.md
  release-content/0.15/release-notes/14316_Fast_renormalize.md
  release-content/0.15/release-notes/14703_Use_docfake_variadic_to_improve_docs_readability.md
  release-content/0.15/release-notes/14863_Expose_bevy_math_ops.md
  release-content/0.15/release-notes/14964_Migrate_bevy_transform_to_required_components.md
  release-content/0.15/release-notes/15341_Add_UI_GhostNode.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1734 `Monitor` release notes
  release-content/0.15/release-notes/13669_Expose_winits_MonitorHandle.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1733 Gpu readback
  release-content/0.15/release-notes/15419_Gpu_readback.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1735 Screenshots release notes
  release-content/0.15/release-notes/14833_Rewrite_screenshots.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1736 14663 shader storage buffer
  release-content/0.15/release-notes/14663_shader_storage_buffer.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#1737 Update #15281 Release Notes for 0.15 (no_std)
  release-content/0.15/release-notes/15281_Add_core_and_alloc_over_std_Lints.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#1738 Add custom cursor release notes
  release-content/0.15/release-notes/14284_Add_custom_cursors.md
Labels: C-Content, A-Release-Notes, S-Waiting-On-Author

#1742 Create public draft for 0.15 migration guide
  content/learn/migration-guides/0.14-to-0.15.md
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Straightforward

#1746 Release Note for add name component to gltf mesh primitive #13912
  release-content/0.15/release-notes/13912_featgltf_add_name_component_to_gltf_mesh_primitive.md
Labels: A-Release-Notes

#1747 Release note for SystemParamBuilder.
  release-content/0.15/release-notes/14817_SystemParamBuilder__Support_dynamic_system_parameters.md
  release-content/0.15/release-notes/15189_System_param_for_dynamic_resources.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes

#1748 Remove deprecate is_playing_animation release notes
  release-content/0.15/migration-guides/14387_Deprecate_is_playing_animation.md
  release-content/0.15/migration-guides/_guides.toml
Labels: A-Migration Guides

#1744 Scripts for rc
  content/learn/contribute/project-information/release-process.md
Labels: S-Ready-For-Final-Review, A-Release-Notes, C-Docs

#1743 Sort migrations by area and improve styling
  content/learn/migration-guides/0.10-to-0.11.md
  content/learn/migration-guides/0.11-to-0.12.md
  content/learn/migration-guides/0.12-to-0.13.md
  content/learn/migration-guides/0.9-to-0.10.md
  generate-release/src/migration_guides.rs
  release-content/0.14/migration-guides/_guides.toml
  sass/pages/_content.scss
  sass/pages/_migration_guide.scss
  templates/shortcodes/migration_guides.md
Labels: C-Feature, S-Ready-For-Final-Review, C-Webdev, C-Usability, A-Migration Guides, D-Modest

#1750 Release notes for on_replace component lifecycle hook
  release-content/0.15/release-notes/14212_Component_Lifecycle_Hook__Observer_Trigger_for_replaced_va.md
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1749 v0.15 release notes: state scoped events
  release-content/0.15/release-notes/14663_shader_storage_buffer.md
  release-content/0.15/release-notes/15085_Add_state_scoped_events.md
Labels: A-Release-Notes, S-Needs-Review

#1756 Add release note for `Type`
  release-content/0.15/release-notes/14838_bevy_reflect_add_Type_type.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#1755 Added release note for `TypeInfo` improvements
  release-content/0.15/release-notes/15475_bevy_reflect_Generic_parameter_info.md
  release-content/0.15/release-notes/_release-notes.toml
  release-content/0.15/release-notes/type_info_improvements.md
Labels: A-Release-Notes, S-Needs-Review

#1751 Add 0.15 release notes for `Reflectable`
  release-content/0.15/release-notes/5772_bevy_reflect_Add_Reflectable_trait.md
Labels: A-Release-Notes, S-Needs-Review

#1752 Add 0.15 release notes for remote reflection
  release-content/0.15/release-notes/6042_bevy_reflect_Reflect_remote_types.md
Labels: A-Release-Notes, S-Needs-Review

#1759 Event mutator release notes
  release-content/0.15/release-notes/13818_Created_an_EventMutator_for_when_you_want_to_mutate_an_eve.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#1757 HierarchyQueryExt release notes
  release-content/0.15/release-notes/15627_Add_more_tools_for_traversing_hierarchies.md
  release-content/0.15/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review
