Repository bevyengine/bevy-website, pull requests merged in 2024-09, with the labels that each got.

#1625 request pr write permissions in the screenshot update job
  .github/workflows/update-screenshots.yml
Labels: C-Bug, S-Ready-For-Final-Review, A-Build-System, D-Straightforward

#1624 better documentation for patch releases
  content/learn/contribute/project-information/release-process.md
Labels: S-Ready-For-Final-Review, C-Content, A-Contributing-Guide, D-Straightforward

#1597 Bevy's 4th birthday: Reflecting on a dream job
  content/news/2024-09-10-dream-job/index.md
Labels: S-Ready-For-Final-Review, A-News, C-Content

#1627 News: Community Reflection on Bevy's Fourth Year
  content/news/2024-09-11-community-reflection-on-bevys-fourth-year/index.md
Labels: A-News, C-Content, S-Needs-Review, D-Straightforward

#1628 Record initial actions by the board without a meeting
  content/foundation/bylaws/index.md
  content/foundation/meeting-minutes/actions-without-meeting/bevy_playground_logo_usage.png
  content/foundation/meeting-minutes/actions-without-meeting/deprecating_legacy_sponsors.png
  content/foundation/meeting-minutes/actions-without-meeting/increasing_alice_salary.png
  content/foundation/meeting-minutes/actions-without-meeting/index.md
  content/foundation/meeting-minutes/actions-without-meeting/initial_job_titles.png
  content/foundation/meeting-minutes/actions-without-meeting/more_relaxed_voting_rules.png
  content/foundation/meeting-minutes/actions-without-meeting/recording_who_voted.png
  content/foundation/meeting-minutes/actions-without-meeting/repaying_cart_initial_deposit.png
  content/foundation/meeting-minutes/actions-without-meeting/sick_leave_documentation_policy.png
  content/foundation/meeting-minutes/actions-without-meeting/thera_employer_of_record.png
Labels: S-Ready-For-Final-Review, C-Content, A-Foundation

#1632 News: Bevy is now a 501(c)(3) Public Charity!
  content/donate/faq/index.md
  content/donate/options/index.md
  content/donate/tiers.toml
  content/learn/contribute/project-information/bevy-organization.md
  content/learn/contribute/reference/triage.md
  content/news/2024-09-25-bevy-foundation-501c3/index.md
  generate-assets/Cargo.toml
  generate-community/Cargo.toml
  generate-errors/Cargo.toml
  templates/donate-options.html
  templates/donate.html
  templates/foundation.html
Labels: S-Ready-For-Final-Review, A-News, C-Content, A-Foundation

#1631 Fix Broken Links
  CONTRIBUTING.md
  templates/foundation.html
Labels: S-Ready-For-Final-Review, A-Meta, C-Correction, A-Foundation

#1633 few improvements in process to help close PRs
  content/learn/contribute/helping-out/opening-pull-requests.md
  content/learn/contribute/reference/triage.md
Labels: C-Enhancement, A-Contributing-Guide, X-Contentious
