Repository bevyengine/bevy-website, pull requests merged in 2025-07, with the labels that each got.

#2154 cargo clippy --fix for new Rust version
  generate-assets/src/bin/validate.rs
  generate-assets/src/lib.rs
  generate-community/src/bin/generate.rs
  generate-community/src/bin/validate.rs
  generate-release/src/changelog.rs
  generate-release/src/github_client.rs
  generate-release/src/markdown.rs
  generate-release/src/migration_guides.rs
  generate-release/src/release_notes.rs
  write-rustdoc-hide-lines/src/code_block_definition.rs
  write-rustdoc-hide-lines/src/formatter.rs
  write-rustdoc-hide-lines/src/main.rs
Labels: S-Ready-For-Final-Review, C-Code Quality, D-Trivial, A-Cross-Cutting

#2163 Rename and split best practices chapter
  content/learn/book/best-practices/_index.md
  content/learn/book/development-practices/_index.md
  content/learn/book/development-practices/debugging.md
  content/learn/book/development-practices/fast-compiles.md
  content/learn/book/development-practices/hot-reloading.md
  content/learn/book/releasing-projects/_index.md
  content/learn/book/releasing-projects/optimizing-binary-size.md
  content/learn/book/releasing-projects/optimizing-performance.md
  content/learn/book/releasing-projects/profiling.md
Labels: S-Ready-For-Final-Review, A-Book, C-Editing

#2164 Rename architecture chapter to modular architecture; move states out
  content/learn/book/control-flow/states.md
  content/learn/book/modular-architecture/_index.md
  content/learn/book/modular-architecture/libraries.md
  content/learn/book/modular-architecture/modules.md
  content/learn/book/modular-architecture/plugins.md
Labels: S-Ready-For-Final-Review, A-Book, C-Editing

#2165 Bevy beyond games note
  content/learn/book/intro/what-is-bevy.md
Labels: A-Book, C-Content, S-Needs-Review

#2170 Update setup guide Rust edition to 2024
  content/learn/quick-start/getting-started/setup.md
Labels: S-Ready-For-Final-Review, C-Correction, A-Quick-Start

#2171 Simple cleanup for App chapter
  content/learn/book/the-game-loop/app.md
Labels: S-Ready-For-Final-Review, A-Book, C-Editing

#2173 Rewrite Local page
  content/learn/book/storing-data/local-system-param.md
Labels: S-Ready-For-Final-Review, A-Book, C-Content

#2177 Don't try to copy out of `Local` system param.
  content/learn/book/storing-data/local-system-param.md
Labels: S-Ready-For-Final-Review, A-Book, C-Correction

#2178 Port profiling docs to the new book
  content/learn/book/releasing-projects/profiling.md
Labels: S-Ready-For-Final-Review, A-Book, C-Content, X-Contentious

#2179 Write the book page for plugins
  content/learn/book/modular-architecture/plugins.md
Labels: S-Ready-For-Final-Review, A-Book, C-Content

#2181 Update link in Book to Exclusive Systems
  content/learn/book/storing-data/entities-components.md
Labels: S-Ready-For-Final-Review, A-Book, C-Correction

#2183 Fix typo in 18555_Improved_require_syntax.md
  release-content/0.16/migration-guides/18555_Improved_require_syntax.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#2185 Add a book page on project organization
  content/learn/book/development-practices/dev-tools.md
  content/learn/book/development-practices/linting.md
  content/learn/book/development-practices/testing.md
  content/learn/book/modular-architecture/project-organization.md
  content/learn/book/releasing-projects/libraries-for-bevy.md
Labels: S-Ready-For-Final-Review, A-Book, C-Content

#2190 Write resources chapter.
  content/learn/book/storing-data/resources.md
Labels: S-Ready-For-Final-Review, A-Book, C-Content

#2187 Add book page on time, fixed time and timers
  content/learn/book/control-flow/systems.md
  content/learn/book/the-game-loop/fixed-time.md
  content/learn/book/the-game-loop/time-and-timers.md
Labels: A-Book, S-Needs-Review
