Repository bevyengine/bevy-website, pull requests merged in 2025-09, with the labels that each got.

#2216 Configure Dependabot
  .github/dependabot.yml
Labels: S-Ready-For-Final-Review, A-Build-System, X-Uncontroversial, D-Trivial

#2229 News: Community Reflections on Bevy's Fifth Year
  content/news/2025-09-15-community-reflection-on-bevys-fifth-year/5th_birthday_reflections.svg
  content/news/2025-09-15-community-reflection-on-bevys-fifth-year/index.md
Labels: S-Ready-For-Final-Review, A-News

#2236 Remove `local` Fira Sans source to avoid Chromium bug
  sass/fonts/_firasans.scss
Labels: C-Bug, C-Webdev

#2243 Update ci.yml to install required rust toolchain components
  .github/workflows/ci.yml
Labels: S-Ready-For-Final-Review, A-Build-System

#2237 Add 0.16 to 0.17 Migration Guide
  content/learn/migration-guides/0.16-to-0.17.md
  templates/shortcodes/heading_metadata.html
Labels: S-Ready-For-Final-Review, A-Migration Guides

#2239 Apply suggestions for release notes from JMS55
  content/news/2025-09-24-bevy-0.17/index.md
Labels: S-Ready-For-Final-Review, A-Release-Notes, C-Editing

#2240 Update git checkout command to v0.16.1
  content/learn/quick-start/getting-started/_index.md
Labels: S-Ready-For-Final-Review, A-Book, D-Trivial

#2244 Add warning about 0.16.x and earlier examples in quick start guide
  content/learn/quick-start/getting-started/_index.md
Labels: S-Ready-For-Final-Review, C-Content, A-Quick-Start, D-Straightforward

#2245 Add more migration guides for Bevy 0.17
  content/learn/migration-guides/0.16-to-0.17.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, D-Straightforward

#2251 Migration guide for changes to optional access and default query filters
  content/learn/migration-guides/0.16-to-0.17.md
Labels: A-Migration Guides, S-Needs-Review

#2259 Support highlighting RON syntax
  syntaxes/LICENSE-RON
  syntaxes/README.md
  syntaxes/RON.sublime-syntax
Labels: C-Feature, S-Ready-For-Final-Review, C-Usability, D-Straightforward, A-Cross-Cutting

#2256 Remove callbacks from release notes
  content/news/2025-09-24-bevy-0.17/index.md
Labels: S-Blocked, C-Correction, A-Release-Notes

#2260 Add deco_buttons example to 0.17 release notes
  content/news/2025-09-24-bevy-0.17/deco-buttons.mp4
  content/news/2025-09-24-bevy-0.17/index.md
Labels: C-Content, A-Release-Notes, S-Needs-Review, X-Contentious

#2270 0.17: Update quickstart
  content/learn/quick-start/getting-started/_index.md
  content/learn/quick-start/getting-started/setup.md
  content/learn/quick-start/plugin-development.md
Labels: A-Quick-Start
