Repository bevyengine/bevy-website, pull requests merged in 2025-01, with the labels that each got.

#1923 Call for attendees: Rustweek 2025 Unconf
  Cargo.lock
  content/news/2025-01-07-bevy-at-rust-week/index.md
Labels: S-Ready-For-Final-Review, A-News, C-Content

#1918 Improve styling of the example/s graphics API callout
  sass/components/_callout.scss
  sass/components/_example.scss
  templates/example-webgpu.html
  templates/example.html
  templates/examples-webgpu.html
  templates/examples.html
  templates/layouts/example.html
Labels: C-Webdev, A-Examples, S-Needs-Review

#1899 0.15 migration: Fix up guide for 16163
  release-content/0.15/migration-guides/16163_Dont_reëxport_bevy_image_from_bevy_render.md
  release-content/0.15/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction
