Repository bevyengine/bevy-website, pull requests merged in 2025-04, with the labels that each got.

#2043 Add initial release highlights and future work for Bevy 0.16
  content/news/2025-XX-XX-bevy-0.16/index.md
Labels: S-Ready-For-Final-Review, A-Release-Notes

#2052 Write migration guide for 18451
  release-content/0.16/migration-guides/18451_Get_names_of_queued_components.md
  release-content/0.16/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Trivial

#2051 Bevy 0.16 migration guide fixes
  release-content/0.16/migration-guides/16331_Rename_PointerDownUp__PointerPressedReleased_in_bevy_picki.md
  release-content/0.16/migration-guides/16567_Rename_ArgListpush_methods_to_with_and_add_new_push_method.md
  release-content/0.16/migration-guides/17029_Refactor_hierarchyrelated_commands_to_remove_structs.md
  release-content/0.16/migration-guides/17233_If_there_is_no_movement_DragStart_is_not_triggered.md
  release-content/0.16/migration-guides/17702_Use_target_abi__sim_instead_of_ios_simulator_feature.md
  release-content/0.16/migration-guides/_guides.toml
  release-content/0.16/migration-guides/bevy_core_removed.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction, D-Straightforward

#2058 Improve clarity of tracing log macros migration
  release-content/0.16/migration-guides/bevy_utils_decimation.md
Labels: A-Migration Guides, S-Needs-Review

#2057 Clean up unified error handling migration guides and mention anyhow
  content/learn/migration-guides/0.15-to-0.16.md
  release-content/0.16/migration-guides/16589_Fallible_systems.md
  release-content/0.16/migration-guides/18082_Make_Querysingle_and_friends_return_a_Result.md
  release-content/0.16/migration-guides/_guides.toml
Labels: A-Migration Guides

#1953 Remove CSS Relative Colors usage
  sass/_vars.scss
  sass/components/_button-square.scss
  sass/components/_tabs.scss
  sass/elements/_details.scss
  sass/pages/_migration_guide.scss
Labels: C-Bug, S-Ready-For-Final-Review, C-Webdev

#2062 Add GameBoy Advance Video Demonstration
  content/news/2025-XX-XX-bevy-0.16/bevy-gba.mp4
  release-content/0.16/release-notes/17955_Add_no_std_support_to_bevy.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes, D-Straightforward

#2063 Update methods in pre-relations hierarchy-related migration guide
  release-content/0.16/migration-guides/17029_Refactor_hierarchyrelated_commands_to_remove_structs.md
  release-content/0.16/migration-guides/_guides.toml
Labels: A-Migration Guides, C-Correction, S-Needs-Review

#2060 Text shadow release notes
  release-content/0.16/release-notes/17559_Basic_UI_text_shadows.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#2061 0.16 Release Notes: Relationships and Spawn APIs
  release-content/0.16/release-notes/17398_Relationships_nonfragmenting_onetomany.md
  release-content/0.16/release-notes/17521_Improved_Spawn_APIs_and_Bundle_Effects.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: A-Release-Notes

#2064 Write release notes for the curve derivative work
  release-content/0.16/release-notes/16503_Derivative_access_patterns_for_curves.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#2066 Migration writing pass 2
  release-content/0.16/migration-guides/16163_Dont_reëxport_bevy_image_from_bevy_render.md
  release-content/0.16/migration-guides/16693_Draw_the_UI_debug_overlay_using_the_UI_renderer.md
  release-content/0.16/migration-guides/16694_Cache_systems_by_S_instead_of_SSystem.md
  release-content/0.16/migration-guides/16725_BRP_strict_field_in_query.md
  release-content/0.16/migration-guides/16778_Event_source_location_tracking.md
  release-content/0.16/migration-guides/16863_Replace_bevy_a11yFocus_with_InputFocus.md
  release-content/0.16/migration-guides/17051_Convert_to_fallible_system_in_IntoSystemConfigs.md
  release-content/0.16/migration-guides/17075_Rename_track_change_detection_flag_to_track_location.md
  release-content/0.16/migration-guides/17259_Allow_users_to_customize_history_length_in_FrameTimeDiagno.md
  release-content/0.16/migration-guides/17376_Change_Worldtry_despawn_and_Worldtry_insert_batch_to_return.md
  release-content/0.16/migration-guides/17499_Support_for_nonbrowser_wasm.md
  release-content/0.16/migration-guides/17855_Add_EntityDoesNotExistError_replace_cases_of_Entity_as_an_.md
  release-content/0.16/migration-guides/17955_Add_no_std_support_to_bevy.md
  release-content/0.16/migration-guides/17967_Upgrade_to_Rust_Edition_2024.md
  release-content/0.16/migration-guides/18555_Improved_require_syntax.md
  release-content/0.16/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Straightforward

#2068 Delete multiple box shadows release note
  release-content/0.16/release-notes/16502_Multiple_box_shadow_support.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes

#2069 Migration guide for EntityCommands::apply
  release-content/0.16/migration-guides/EntityCommands_apply_signature.md
  release-content/0.16/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, A-Migration Guides

#2074 Fix contributors guide page header message using wrong path
  templates/macros/base.html
Labels: C-Bug, C-Webdev, S-Needs-Review, A-Contributing-Guide, D-Trivial

#2078 Add release candidate warning to `0.15 to 0.16` migration guide
  content/learn/migration-guides/0.15-to-0.16.md
Labels: C-Webdev, C-Content, A-Migration Guides, S-Needs-Review, D-Trivial

#2072 Write release notes for occlusion culling
  release-content/0.16/release-notes/_release-notes.toml
  release-content/0.16/release-notes/occlusion_culling.md
Labels: A-Release-Notes, S-Needs-Review

#2084 Extend migration guide for HierarchyQueryExt
  release-content/0.16/migration-guides/17398_Relationships_nonfragmenting_onetomany.md
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides

#2089 Remove a stray angle bracket
  templates/macros/assets.html
Labels: S-Ready-For-Final-Review, C-Webdev, D-Trivial

#2080 Release notes for GPU tracing
  release-content/0.16/release-notes/_release-notes.toml
  release-content/0.16/release-notes/gpu_tracing.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#2079 Migration writing pass 3
  content/learn/migration-guides/0.15-to-0.16.md
  release-content/0.16/migration-guides/15858_Introduce_methods_on_QueryState_to_obtain_a_Query.md
  release-content/0.16/migration-guides/16219_Flush_commands_after_every_mutation_in_WorldEntityMut.md
  release-content/0.16/migration-guides/16589_Fallible_systems.md
  release-content/0.16/migration-guides/17215_Improved_Command_Errors.md
  release-content/0.16/migration-guides/17521_Improved_Spawn_APIs_and_Bundle_Effects.md
  release-content/0.16/migration-guides/17602_Encapsulate_cfgfeature__track_location_in_a_type.md
  release-content/0.16/migration-guides/17671_Isolate_component_registration.md
  release-content/0.16/migration-guides/17826_Fix_unsoundness_in_QueryItersort_by.md
  release-content/0.16/migration-guides/17962_Generic_system_config.md
  release-content/0.16/migration-guides/18147_Deprecate_insert_or_spawn_function_family.md
  release-content/0.16/migration-guides/18183_Deprecated_Querymany_and_many_mut.md
  release-content/0.16/migration-guides/18259_Implement_SpawnableList_for_VecBundle.md
  release-content/0.16/migration-guides/18301_Create_new_NonSendMarker.md
  release-content/0.16/migration-guides/EntityCommands_apply_signature.md
  release-content/0.16/migration-guides/_guides.toml
  release-content/0.16/migration-guides/bevy_core_removed.md
Labels: C-Content, A-Migration Guides, S-Needs-Review, D-Straightforward

#2077 migration guide for Derive(Event)
  release-content/0.16/migration-guides/18083_Improved_DeriveEvent.md
  release-content/0.16/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Trivial

#2090 0.16: next steps for doc tags
  release-content/0.16/release-notes/17758_Trait_tags_on_docsrs.md
Labels: S-Ready-For-Final-Review, A-Release-Notes

#2088 Migration writing pass 4
  content/learn/migration-guides/0.15-to-0.16.md
  release-content/0.16/migration-guides/15519_Remove_petgraph_from_bevy_ecs.md
  release-content/0.16/migration-guides/16348_Remove_deprecated_component_reads_and_writes.md
  release-content/0.16/migration-guides/16460_Remove_flush_and_reserve_invalid_assuming_no_entities.md
  release-content/0.16/migration-guides/16853_Remove_deprecated_ECS_items.md
  release-content/0.16/migration-guides/16911_Remove_unused_generic_in_DeferredWorldtrigger.md
  release-content/0.16/migration-guides/17029_Refactor_hierarchyrelated_commands_to_remove_structs.md
  release-content/0.16/migration-guides/17032_Remove_unsound_Clone_impl_for_EntityMutExcept.md
  release-content/0.16/migration-guides/17115_Optimize_Entitiesentity_does_not_exist_error_details_messa.md
  release-content/0.16/migration-guides/17380_Remove_Event_Component_trait_bound_using_a_wrapper_type_wh.md
  release-content/0.16/migration-guides/17398_Relationships_nonfragmenting_onetomany.md
  release-content/0.16/migration-guides/17427_Parent__ChildOf.md
  release-content/0.16/migration-guides/17469_Move_Resource_trait_to_its_own_file.md
  release-content/0.16/migration-guides/17503_Refactored_ComponentHook_Parameters_into_HookContext.md
  release-content/0.16/migration-guides/17679_Move_Item_and_fetch_to_QueryData_from_WorldQuery.md
  release-content/0.16/migration-guides/18080_Remove_ChildOfget_and_Deref_impl.md
  release-content/0.16/migration-guides/18082_Make_Querysingle_and_friends_return_a_Result.md
  release-content/0.16/migration-guides/18157_Remove_lifetime_from_QueryEntityError.md
  release-content/0.16/migration-guides/18173_Queued_component_registration.md
  release-content/0.16/migration-guides/18454_Make_system_param_validation_rely_on_the_unified_ECS_error.md
  release-content/0.16/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Straightforward

#2092 Write migration guide for 2024 edition panicking closure inference regression
  release-content/0.16/migration-guides/_guides.toml
  release-content/0.16/migration-guides/panicking_closures.md
Labels: S-Ready-For-Final-Review, A-Migration Guides

#2083 Specular tints release note
  content/news/2025-XX-XX-bevy-0.16/specular-tint-sphere.png
  release-content/0.16/release-notes/14069_Add_support_for_specular_tints_and_maps_per_the_KHR_materi.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#2093 Add no_std to migration guide highlights
  content/learn/migration-guides/0.15-to-0.16.md
Labels: A-Migration Guides

#2094 Migration writing pass 5
  release-content/0.16/migration-guides/15624_Support_using_FilteredResources_with_ReflectResource.md
  release-content/0.16/migration-guides/16499_Run_observers_before_hooks_for_on_replace_and_on_remove.md
  release-content/0.16/migration-guides/16642_Turn_apply_deferred_into_a_ZST_System.md
  release-content/0.16/migration-guides/17447_Support_nonVec_data_structures_in_relations.md
  release-content/0.16/migration-guides/17685_Split_Componentregister_component_hooks_into_individual_me.md
  release-content/0.16/migration-guides/17694_Shorten_the_world_lifetime_returned_from_QueryLensquery.md
  release-content/0.16/migration-guides/17977_Renamed_EventWritersend_methods_to_write.md
  release-content/0.16/migration-guides/18028_Use_register_dynamic_for_merging.md
  release-content/0.16/migration-guides/18432_Replace_VisitEntities_with_MapEntities.md
  release-content/0.16/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Straightforward

#2096 EasyFunction -> EaseFunction
  release-content/0.16/migration-guides/17752_Add_ways_to_configure_EasingFunctionSteps_via_new_StepConf.md
Labels: A-Migration Guides, C-Correction

#1910 Enable `highlight-intrapage-link` sidebar highlight in News
  sass/_vars.scss
  sass/components/_on-this-page.scss
  sass/components/_tree-menu.scss
  static/highlight-intrapage-link.js
  templates/docs.html
  templates/macros/docs.html
  templates/macros/news.html
  templates/news-page.html
Labels: C-Feature, A-News, C-Webdev, S-Needs-Review

#2081 Add mesh tag feature to release notes.
  release-content/0.16/release-notes/17648_mesh_tags.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Waiting-On-Author

#2087 Atmosphere release notes
  content/news/2025-XX-XX-bevy-0.16/atmosphere-showcase.mp4
  release-content/0.16/release-notes/16314_Procedural_atmospheric_scattering.md
Labels: S-Ready-For-Final-Review, A-Release-Notes

#2103 release-notes: replace all `dev-docs` links with 0.16 `doc.rs` links
  release-content/0.16/release-notes/13120_Add_DefaultQueryFilters.md
  release-content/0.16/release-notes/14069_Add_support_for_specular_tints_and_maps_per_the_KHR_materi.md
  release-content/0.16/release-notes/16372_Add_Immutable_Component_Support.md
  release-content/0.16/release-notes/16810_Add_AssetChanged_query_filter.md
  release-content/0.16/release-notes/17096_Anamorphic_Bloom.md
  release-content/0.16/release-notes/17398_Relationships_nonfragmenting_onetomany.md
  release-content/0.16/release-notes/17559_Basic_UI_text_shadows.md
  release-content/0.16/release-notes/occlusion_culling.md
  release-content/0.16/release-notes/unified_error_handling.md
  release-content/0.16/release-notes/virtual_geometry_improvements.md
Labels: S-Ready-For-Final-Review, A-Release-Notes

#2104 Remove unnecessary migration guides
  release-content/0.16/migration-guides/16753_rename_enqueue_command__to_queue_command__for_consistency.md
  release-content/0.16/migration-guides/17447_Support_nonVec_data_structures_in_relations.md
  release-content/0.16/migration-guides/18248_make_various_entity_wrapper_type_modules_public.md
  release-content/0.16/migration-guides/18326_Use_4byte_LightmapSlabIndex_for_batching_instead_of_16byte.md
  release-content/0.16/migration-guides/_guides.toml
  release-content/0.16/migration-guides/panicking_closures.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#2097 Add release notes for GPU-driven rendering
  release-content/0.16/release-notes/gpu_driven_rendering.md
Labels: A-Release-Notes, S-Needs-Review

#2106 Adopted Decals Release Notes 0.16
  content/news/2025-XX-XX-bevy-0.16/clustered-decals.png
  content/news/2025-XX-XX-bevy-0.16/decals.png
  release-content/0.16/release-notes/16600_Forward_decals_port_of_bevy_contact_projective_decals.md
  release-content/0.16/release-notes/17315_Implement_basic_clustered_decal_projectors.md
  release-content/0.16/release-notes/_release-notes.toml
  release-content/0.16/release-notes/decals.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes

#2108 Ray tracing next steps
  content/news/2025-XX-XX-bevy-0.16/index.md
Labels: C-Content, A-Release-Notes

#2110 Publish 0.16 Release Notes
  content/learn/quick-start/getting-started/_index.md
  content/news/2025-04-24-bevy-0.16/anamorphic-car-bloom.jpg
  content/news/2025-04-24-bevy-0.16/atmosphere-showcase.mp4
  content/news/2025-04-24-bevy-0.16/bevy-gba.mp4
  content/news/2025-04-24-bevy-0.16/caldera-transform-propagation-bench.jpg
  content/news/2025-04-24-bevy-0.16/caldera.jpg
  content/news/2025-04-24-bevy-0.16/clustered-decals.jpg
  content/news/2025-04-24-bevy-0.16/decals.jpg
  content/news/2025-04-24-bevy-0.16/index.md
  content/news/2025-04-24-bevy-0.16/meshlet_bunnies.jpg
  content/news/2025-04-24-bevy-0.16/planet.jpg
  content/news/2025-04-24-bevy-0.16/specular-tint-sphere.jpg
  content/news/2025-04-24-bevy-0.16/text_shadow.jpg
  content/news/2025-04-24-bevy-0.16/trait-tags.jpg
  release-content/0.16/release-notes/_release-notes.toml
  release-content/0.16/release-notes/gpu_driven_rendering.md
Labels: A-Release-Notes

#2111 Remove release candidate warning in migration guide
  content/learn/migration-guides/0.15-to-0.16.md
Labels: A-Migration Guides, C-Correction, S-Needs-Review, D-Trivial

#2113 Add "hotel" qualification to the caldera scene
  release-content/0.16/release-notes/gpu_driven_rendering.md
Labels: A-Release-Notes

#2101 Fix possible minor typo on `working-groups.md`
  content/learn/contribute/project-information/working-groups.md
Labels: C-Correction, A-Contributing-Guide, D-Trivial

#2116 Mark Jondolf as co-author to docs trait tags PR
  release-content/0.16/release-notes/_release-notes.toml
Labels: C-Correction, A-Release-Notes, S-Needs-Review, D-Trivial

#2118 Bevy 0.16 release note edits
  release-content/0.16/release-notes/13120_Add_DefaultQueryFilters.md
  release-content/0.16/release-notes/decals.md
  release-content/0.16/release-notes/unified_error_handling.md
Labels: C-Correction, A-Release-Notes

#2115 Update learning code examples to use 0.16 for validation
  Cargo.lock
  learning-code-examples/Cargo.toml
Labels: S-Ready-For-Final-Review, A-Book, C-Code Quality, A-Quick-Start, D-Trivial, rust

#2114 News images take up available space in lists
  content/news/2020-08-19-scaling-bevy/index.md
  content/news/2021-08-10-bevys-first-birthday/index.md
  content/news/2022-08-10-bevys-second-birthday/index.md
  content/news/2023-01-14-scaling-bevy-development/index.md
  content/news/2023-05-17-bevy-webgpu/index.md
  content/news/2023-08-10-bevys-third-birthday/index.md
  content/news/2024-03-11-bevy-foundation/index.md
  content/news/2024-08-10-bevys-fourth-birthday/index.md
  sass/components/_link-card.scss
  templates/news.html
Labels: A-News, C-Webdev, S-Needs-Review, D-Straightforward

#2120 fix: mis-rendered table
  release-content/0.16/migration-guides/17029_Refactor_hierarchyrelated_commands_to_remove_structs.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction, D-Trivial

#2126 Speed up generate-assets with database indices
  generate-assets/src/lib.rs
Labels: S-Ready-For-Final-Review, A-Build-System, D-Straightforward
