Repository bevyengine/bevy-website, pull requests merged in 2025-03, with the labels that each got.

#1939 Link dev docs and example runner in Contributing Guide
  content/learn/contribute/introduction.md
Labels: C-Content, S-Needs-Review, A-Contributing-Guide

#1948 Remove X
  content/community/links.toml
  content/learn/contribute/project-information/release-process.md
  content/news/2020-08-10-introducing-bevy/index.md
  content/news/2020-08-19-scaling-bevy/index.md
  content/news/2020-09-19-bevy-0.2/index.md
  content/news/2020-11-03-bevy-0.3/index.md
  content/news/2020-12-19-bevy-0.4/index.md
  content/news/2021-04-06-bevy-0.5/index.md
  content/news/2021-08-10-bevys-first-birthday/index.md
  content/news/2022-01-08-bevy-0.6/index.md
  content/news/2022-04-15-bevy-0.7/index.md
  content/news/2022-07-30-bevy-0.8/index.md
  content/news/2022-08-10-bevys-second-birthday/index.md
  content/news/2022-11-12-bevy-0.9/index.md
  content/news/2023-01-14-scaling-bevy-development/index.md
  content/news/2023-05-17-bevy-webgpu/index.md
  content/news/2023-08-10-bevys-third-birthday/index.md
  content/news/2023-09-21-community-reflection-on-bevys-third-year/index.md
  content/news/2023-12-12-sme-announcements/index.md
  content/news/2024-03-11-bevy-foundation/index.md
  content/news/2024-08-10-bevys-fourth-birthday/index.md
  content/news/2024-09-11-community-reflection-on-bevys-fourth-year/index.md
Labels: S-Ready-For-Final-Review, A-Meta

#1941 Add S-Nominated-To-Close to triage docs
  content/learn/contribute/reference/triage.md
Labels: S-Ready-For-Final-Review, A-Contributing-Guide

#1942 Add S-Ready-For-Implementation to triage docs
  content/learn/contribute/reference/triage.md
Labels: S-Ready-For-Final-Review, A-Contributing-Guide

#1954 Add `no_std` section to Plugin Development
  content/learn/quick-start/plugin-development.md
Labels: S-Ready-For-Final-Review, A-Book, C-Content

#2006 Remove empty migration guides
  release-content/0.16/migration-guides/17054_small_documentation_update_and_issue_template_fix.md
  release-content/0.16/migration-guides/18179_Update_Component_docs_to_point_to_Relationship_trait.md
  release-content/0.16/migration-guides/18249_Update_text_input_and_virtual_time_examples_to_use_Improve.md
  release-content/0.16/migration-guides/18250_Update_statestates_example_to_use_children_macro.md
  release-content/0.16/migration-guides/18268_Update_render_primitives_example_for_children_macro.md
  release-content/0.16/migration-guides/18270_Update_shader_prepass_testbed_2d_and_first_person_view_mod.md
  release-content/0.16/migration-guides/18271_Update_breakout_examples_stepping_plugin_to_use_children.md
  release-content/0.16/migration-guides/18282_Update_gamepad_viewer_to_use_children_macro.md
  release-content/0.16/migration-guides/18290_Update_computed_states_example_to_use_children_macro.md
  release-content/0.16/migration-guides/18292_Update_custom_transitions_and_sub_states_examples_to_use_c.md
  release-content/0.16/migration-guides/18317_Update_text2d_example_to_use_children_macro.md
  release-content/0.16/migration-guides/18318_Update_sprite_slice_spatial_audio_3d_spatial_audio_2d_exam.md
  release-content/0.16/migration-guides/18329_Update_testbed_ui_to_use_Improved_Spawning_API.md
  release-content/0.16/migration-guides/_guides.toml
Labels: C-Bug, S-Ready-For-Final-Review, A-Migration Guides

#2007 Cull, organize and sort release notes for 0.16
  release-content/0.16/release-notes/14780_Link_iOS_example_with_rustc_and_avoid_C_trampoline.md
  release-content/0.16/release-notes/15607_Track_callsite_for_observers__hooks.md
  release-content/0.16/release-notes/15858_Introduce_methods_on_QueryState_to_obtain_a_Query.md
  release-content/0.16/release-notes/16047_track_change_detection_Also_track_spawnsdespawns.md
  release-content/0.16/release-notes/16434_Getting_QueryState_from_immutable_World_reference.md
  release-content/0.16/release-notes/16575_Move_required_components_doc_to_type_doc.md
  release-content/0.16/release-notes/16758_Add_no_std_support_to_bevy_ecs.md
  release-content/0.16/release-notes/16795_Tab_navigation_framework_for_bevy_input_focus.md
  release-content/0.16/release-notes/16826_Extend_cloning_functionality_and_add_convenience_methods_t.md
  release-content/0.16/release-notes/16874_Add_no_std_support_to_bevy_app.md
  release-content/0.16/release-notes/17043_Add_Result_handling_to_Commands_and_EntityCommands.md
  release-content/0.16/release-notes/17258_Proportional_scaling_for_the_sprites_texture.md
  release-content/0.16/release-notes/17423_BRP_resource_methods.md
  release-content/0.16/release-notes/17482_Replace_Ambient_Lights_with_Environment_Map_Lights.md
  release-content/0.16/release-notes/17753_featecs_configurable_error_handling_for_fallible_systems.md
  release-content/0.16/release-notes/17967_Upgrade_to_Rust_Edition_2024.md
  release-content/0.16/release-notes/18017_allow_Call_and_Closure_expressions_in_hook_macro_attribute.md
  release-content/0.16/release-notes/18093_Transform_Propagation_Optimization_Static_Subtree_Marking.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: S-Ready-For-Final-Review, A-Release-Notes, X-Contentious

#2011 Add release notes for #17216.
  release-content/0.16/release-notes/17216_Stop_automatically_generating_meta_files_for_assets_while_.md
Labels: A-Release-Notes, S-Needs-Review

#2010 Generate stub root pages for release notes and migration guides for Bevy 0.16
  content/learn/migration-guides/0.15-to-0.16.md
  content/news/2025-XX-XX-bevy-0.16/index.md
Labels: S-Ready-For-Final-Review, A-Migration Guides, A-Release-Notes, X-Uncontroversial

#2017 Release notes for PR #17758: Trait tags on docs.rs
  content/news/2025-XX-XX-bevy-0.16/trait-tags.png
  release-content/0.16/release-notes/17758_Trait_tags_on_docsrs.md
Labels: C-Content, A-Release-Notes

#2019 Update 15611_Add_bevy_input_focus_crate.md
  release-content/0.16/release-notes/15611_Add_bevy_input_focus_crate.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#2018 Release notes for #16132
  release-content/0.16/release-notes/16132_Entity_cloning.md
Labels: C-Content, A-Release-Notes, S-Needs-Review

#2023 Add backticks to generics in 0.16 migration guides
  release-content/0.16/migration-guides/_guides.toml
Labels: C-Bug, S-Ready-For-Final-Review, A-Migration Guides

#2025 Remove obsoleted migration guide about ParamWarnPolicy
  release-content/0.16/migration-guides/17311_Renamed_members_of_ParamWarnPolicy_to_reflect_new_behaviou.md
  release-content/0.16/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, A-Migration Guides, C-Correction

#2029 Add `no_std` Release Notes
  release-content/0.16/release-notes/17955_Add_no_std_support_to_bevy.md
Labels: S-Ready-For-Final-Review, C-Content, A-Release-Notes, D-Straightforward

#2028 can use CI to check if building all examples to wasm works before updating latest
  .github/workflows/build-wasm-examples.yml
Labels: A-Build-System, S-Needs-Review, X-Uncontroversial

#2031 Asset changed release notes
  release-content/0.16/release-notes/16810_Add_AssetChanged_query_filter.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#2027 Draft release notes for WESL support
  release-content/0.16/release-notes/17953_Add_support_for_experimental_WESL_shader_source.md
Labels: A-Release-Notes

#2030 Add release notes for default query filters and entity disabling
  release-content/0.16/release-notes/13120_Add_DefaultQueryFilters.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#2040 Give Proper Credit for `no_std` Support
  release-content/0.16/release-notes/_release-notes.toml
Labels: C-Content, A-Release-Notes, S-Needs-Review, D-Trivial

#2038 Remove #18421 Migration Guide
  release-content/0.16/migration-guides/18421_Add_more_methods_to_RelationshipSourceCollection.md
  release-content/0.16/migration-guides/_guides.toml
Labels: C-Content, A-Migration Guides, S-Needs-Review, D-Trivial

#2032 Combine and refine `bevy_utils` migrations
  release-content/0.16/migration-guides/15801_Update_hashbrown_to_015.md
  release-content/0.16/migration-guides/16112_Prefer_Display_over_Debug.md
  release-content/0.16/migration-guides/16161_Move_all_tuples_to_a_new_crate.md
  release-content/0.16/migration-guides/16951_Move_futuresrs_ConditionalSend_and_BoxedFuture_types_to_be.md
  release-content/0.16/migration-guides/17158_Remove_everything_except_Instant_from_bevy_utilstime.md
  release-content/0.16/migration-guides/17161_Remove_tracing_reexport_from_bevy_utils.md
  release-content/0.16/migration-guides/17250_Create_bevy_platform_support_Crate.md
  release-content/0.16/migration-guides/17254_Add_compiletime_dyn_compatible_checks_for_DynEq_DynHash.md
  release-content/0.16/migration-guides/17460_Move_hashbrown_and_foldhash_out_of_bevy_utils.md
  release-content/0.16/migration-guides/17577_Improve_ergonomics_of_platform_supports_Instant.md
  release-content/0.16/migration-guides/_guides.toml
  release-content/0.16/migration-guides/bevy_utils_decimation.md
Labels: C-Content, A-Migration Guides, S-Needs-Review, D-Straightforward

#2035 Release notes for "Better source location tracking"
  release-content/0.16/release-notes/16778_Event_source_location_tracking.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: A-Release-Notes, S-Needs-Review

#2024 Immutable components release notes
  release-content/0.16/release-notes/16372_Add_Immutable_Component_Support.md
  release-content/0.16/release-notes/_release-notes.toml
Labels: C-Content, A-Release-Notes, S-Needs-Review

#2050 Fix WESL release note misspelling
  release-content/0.16/release-notes/17953_Add_support_for_experimental_WESL_shader_source.md
Labels: S-Ready-For-Final-Review, D-Trivial

#2049 Update MSVC build tools link
  content/learn/quick-start/getting-started/setup.md
Labels: S-Ready-For-Final-Review, C-Content, C-Correction, A-Quick-Start, D-Trivial

#2042 Add release note for function overloading
  release-content/0.16/release-notes/15074_bevy_reflect_Function_Overloading_Generic__Variadic_Functi.md
Labels: A-Release-Notes, S-Needs-Review

#2048 Fix light-mode table colors
  sass/_vars.scss
  sass/elements/_table.scss
Labels: C-Bug, S-Ready-For-Final-Review, C-Webdev, D-Trivial, A-Cross-Cutting

#2037 Remove Migration Guide for #16257
  release-content/0.16/migration-guides/16257_Remove_accesskit_reexport_from_bevy_a11y.md
  release-content/0.16/migration-guides/_guides.toml
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Trivial

#2036 Combine and refine `bevy_core` migrations
  release-content/0.16/migration-guides/16894_Move_Name_out_of_bevy_core.md
  release-content/0.16/migration-guides/16897_Remove_bevy_core.md
  release-content/0.16/migration-guides/_guides.toml
  release-content/0.16/migration-guides/bevy_core_removed.md
Labels: S-Ready-For-Final-Review, C-Content, A-Migration Guides, D-Straightforward
